[2021-02-04 14:31] icc-romeu opened #2 ""this" scope at outboundHandler"
Hi @JamesKEbert

I have been playing around with your branch feature/dependencyInjection and found that you have a problem of scope at outboundHandler.ts just in case you did not notice.

You have:

      await HTTP.sendOutboundMessage(packedMessage, endpoint, this.#inboundMessageHandler
            .newInboundMessage)

But If you do that, at inboundHandler "this" is not the inboundMessageHandler

[2021-02-12 07:07] icc-romeu commented on #2
This makes no sense now we are refactoring

[2021-02-12 07:07] #2 closed

[2021-03-11 17:03] TimoGlastra opened #19 "rename to aries-mobile-agent-react-native"
This is really nit-picky but I'd like to propose to change the name from `aries-mobileagent-react-native` to `aries-mobile-agent-react-native`. It looks a lot cleaner IMO. This is also what we did for our mobile agent.

It are two separate words and I'm not sure why all other aries projects do it.

If people disagree I'm fine with keeping it as is, I just wanted to have made my case.

[2021-03-11 17:36] JamesKEbert commented on #19
I agree with this and it's what I had initially proposed internally, however we decided to go with what everyone else had already done. So, I am in favor of this, but I'd like to hear @TelegramSam's thoughts though.

[2021-03-12 10:42] berendsliedrecht opened #20 "Improve README"
When trying to run the application on Android, I encountered two issues with the setup.

1: The README did not mention that I have to `pack` aries-framework-javascript myself.
2: That I have to create a .env file with the correct entries.

template env file, found on Rocketchat:

MEDIATOR_URL=https://dd652a260851.ngrok.io
GENESIS_URL=https://raw.githubusercontent.com/Indiciotech/indicionetwork/mai

[2021-03-12 15:38] TelegramSam commented on #19
I'm not passionate about either name. You two are the main contributors to the project at this point, and I'm happy with either choice.

[2021-03-12 23:16] JamesKEbert commented on #20
Thank you @blu3beri! We haven't quite gotten to fully including all of the documentation we'd like the project to have. For 1., @DavidClawson and I have just merged in a PR #21 which does add the aries-framework-javascript.tgz so that you don't have to, which is quite nice IMO.
And I will be adding that template env file to the documentation along with documentation for iOS here as soon as I can!

[2021-03-15 10:29] ILoomans opened #24 "Is there a publicly available mediatorUrl i can use?"
Hello,

Is there a publicly available mediatorUrl i can use to test the app? The one i am hosting locally doesnt seem to be working as the connection with the mediator stays on requested.

Just as a background, I am demoing this app with the aca-py demo faber agent to create a connection and issue credentials, I am able to establish a connection with the mediator and faber agent, but when i issue

[2021-03-15 17:55] JamesKEbert commented on #19
Cool, I will make this change prior to talking to Ry Jones today in getting this transferred to Hyperledger.

[2021-03-15 18:07] JamesKEbert commented on #24
Hi Ignace!

As of right now there is not a publicly available Aries Framework Javascript (AFJ) mediator as far as I am aware, unless @TimoGlastra knows of one from the AFJ point of view.

Right now Indicio's efforts are finishing the [coordinate mediation protocol](https://github.com/hyperledger/aries-rfcs/blob/master/features/0211-route-coordination/README.md) support, which would allow it to use

[2021-03-15 18:50] #19 closed, assigned to nobody

[2021-03-16 11:19] ILoomans commented on #24
Hey James,

Thanks for the response, there is a publicly available mediator on AFJ, they have some nice instructions on how to run it, and you are right, today it for some reason worked, which is nice! This is a really neat project you guys are working on.

Ignace Loomans

[2021-03-17 17:11] JamesKEbert commented on #20
README has been updated with additional setup information, including the env file info.

[2021-03-17 17:11] #20 closed, assigned to nobody

[2021-03-23 09:16] ILoomans opened #29 "How could I get offered credentials?"
Im finding the listener for the state changing in credentials to be a bit unreliable at the moment. I would like to add a refresh button to find new offered credentials. Does anyone by chance know how I could fetch all offered credentials for my agent?

So instead of using this
`
     agentContext.agent.credentials.events.removeAllListeners(CredentialEventType.StateChanged)
      agentContext.agen

[2021-03-23 13:58] TimoGlastra commented on #29
Not possible at the moment, but should definitely be possible. This is more a limitation of Aries Framework JavaScript than the mobile agent however. Can you open this issue over there?

[2021-03-23 14:00] ILoomans commented on #29
Sorry I will close this issue, the problem wasnt with the mobile app but with my aca-py demo.

[2021-03-23 14:00] #29 closed, assigned to nobody

[2021-03-23 14:00] TimoGlastra commented on #29
We already have query methods, but they don't store state at the moment. What other parameters would you like to query on?

[2021-04-06 08:09] #24 closed, assigned to nobody

[2021-04-06 09:30] ILoomans opened #36 "Any experience managing proof requests with the verifier agent?"
Hello,

After receiving credentials from the issuer agent, I have established a connection with the verifier agent, and am now trying to send a proof request. After the connection is established my backend sends a present-proof id message to the established connection. And after this I am supposed to 'present the proof' from the mobile side. I was just wondering if this area has already been cover

[2021-04-10 13:21] papkie opened #37 "Invitation from aca-py agent with aca-py mediator between"
Hey.

I'm trying to make a connection with another agent with a mediator between.
I can connect from react  native app (using code from this repo) to aca-py mediator, but had to move the invitation to another server (`/invitation` path does not exist in aca-py admin). I don't know if it's good, but it works.

The issue is when I want to connect with another aca-py agent with mediator between. When

[2021-04-14 06:43] jasoncys opened #39 ""aries-framework-javascript-v1.0.0.tgz seems to be corrupted" when running "npm install""
Hi, when I tried to run "npm install" () according to "Running the App" for aries-mobile-agent-reacy-native on MacOS BigSur, I got the following error:

`npm WARN tarball tarball data for aries-framework-javascript@file:/Users/myself/aries-mobile-agent-react-native/aries-framework-javascript-v1.0.0.tgz (sha512-yu8/bKnMmXzZ6/PGNWGrWfByWXmIxsfYE3Tn+RmW2i5fS2LD7qX4hyklGv5WVJGAGzxekXothOCgIK6eHCeHvg==

[2021-04-14 07:30] TimoGlastra commented on #39
We're in the process of releasing aries framework javascript to NPM which should solve this issue.

For now you can solve this by removing the `node_modules` directory and the `package-lock.json` file.

If it still doesn't work, do the same as above, but first clear your NPM cache: `npm cache clean --force`

[2021-04-14 19:06] JamesKEbert commented on #39
@TimoGlastra IIRC your most recent PR would potentially fix this as well?

[2021-04-14 19:17] JamesKEbert commented on #36
Hello! Sorry for the delay in response--been heads down working.

Currently we're working on this--I expect to have this added soon. As a clarification, we're focusing on Android, relying on the initial efforts by @karimStekelenburg and any others. There are some additions needed in [rn-indy-sdk](https://github.com/AbsaOSS/rn-indy-sdk) to do presentations in iOS though. [This](https://github.com/A

[2021-04-14 19:22] JamesKEbert commented on #37
Sorry--been heads down in the work.

Currently we're working on adding the [coordinate mediation protocol](https://github.com/hyperledger/aries-rfcs/tree/master/features/0211-route-coordination) functionality to Aries Framework Javascript (AFJ), which is the protocol that ACA-Py conforms to. As of right now, AFJ has a custom mediator implementation as of today, which running the current AFJ mediat

[2021-04-15 07:45] jasoncys commented on #39
@TimoGlastra thanks for the comments.  I managed to get pass "npm install" by using "npm install --force" with "package-lock.json" renamed.  Then I got pass "pod install" with some warnings.  When I tried to run the app using "npm run ios MyIphone", I got the following error:

`error Failed to build iOS project. We ran "xcodebuild" command but it exited with error code 65. To debug build logs furt

[2021-04-15 07:50] papkie commented on #37
Understood, thank you!

[2021-04-15 07:50] #37 closed, assigned to nobody

[2021-04-15 07:59] TimoGlastra commented on #39
It is now released to NPM under `aries-framework` (https://www.npmjs.com/package/aries-framework). We'll make sure to update the app to use the released version.

I think the problem you're running into is related to running the mobile agent in an iOS simulator. This is not supported at the moment. See https://github.com/hyperledger/aries-mobile-agent-react-native#platform

[2021-04-15 09:19] jasoncys commented on #39
Thanks @TimoGlastra.  I managed to clean up all the errors by re "git clone" the package and npm cache clean before running the npm install and pod install as well as fixed the team ID error by replacing the error id with my developer ID.  When I tried to load the app on my iphone using "npm run start" or "npm run ios MyPhone", the app is not loaded to MyPhone even I've set the target iOS to eithe

[2021-04-15 13:22] jasoncys commented on #39
Here are the errors I encountered when trying to "Run" (the Play button) in Xcode:

`<unknown>:0: error: module map file '/Users/Jason/Library/Developer/Xcode/DerivedData/AriesBifold-fmzurszqledrugbrzpflcnwqpgtf/Build/Products/Debug-iphoneos/rn-indy-sdk/rn_indy_sdk.modulemap' not found
1 error generated.
<unknown>:0: error: failed to emit precompiled header '/Users/Jason/Library/Developer/Xcode/De

[2021-04-16 01:41] jasoncys commented on #39
I managed to make it work by doing the following:
1. Manually clean the cache in Xcode by deleting the respective directories under DerivedData
2. npm cache clean and delete the aries-mobile-agent-react-native directory.
3. Re git clone aries-mobile-agent-react-native
4. npm install; pod install
5. Open the "workspace" , not the "project", file in Xcode.  (I guess I failed to pod install earlier a

[2021-04-16 01:41] #39 closed, assigned to nobody

[2021-04-16 06:09] TimoGlastra commented on #39
Awesome. Good to hear you got it working 👏

[2021-05-09 05:46] Asvoria opened #41 "READM.md: Update link and adding VSC workflow"
I can only run using the following on visual studio  #code:

[code]

[2021-05-09 06:03] Asvoria commented on #41
refer to pull request: #43

[2021-05-09 08:45] TimoGlastra commented on #41
Thanks for posting this issue @Asvoria! Could you post the error you get if you don't use `--force`?

Maybe we can resolve the issue instead of adding this to the readme

[2021-05-09 09:15] Asvoria commented on #41
Just now i tried to recreate the error without using ```--force``` while ```npm install```.
I realised it is due to npm version 6.14.12.

After updated the npm to version 7.11.2 with the command ```nvm install v16.1.0```,
it went through ```npm install``` without ```--force``` without error.

Below are the error occurs when using npm version 6.14.12 without ```--force```

[code]

[2021-05-09 17:32] TimoGlastra commented on #41
Hmm only thing I can find is this issue: https://github.com/typicode/husky/issues/584

Are you running the install script from the repository root?

[2021-05-09 17:35] TimoGlastra commented on #41
@JamesKEbert as a side question, are you fine with moving to Yarn? We're using it for AFJ and I've generally encountered less errors using Yarn for development.

Would also be nice to use yarn workspaces when/if we move to a monorepo

[2021-05-09 17:40] TimoGlastra commented on #41
Or we could try updating husky to the newest major. We're on 4 while 6 is out

[2021-05-12 21:09] JamesKEbert commented on #41
@TimoGlastra could this be related to our recent addition of the indy-sdk types?

`"@types/rn-indy-sdk": "npm:@types/indy-sdk@^1.15.2",`

Since it seems to be trying to use `node-gyp`, which shouldn't be required on the RN side of things AFAIK.

[2021-05-12 21:13] JamesKEbert commented on #41
And as to the side question @TimoGlastra, I've normally preferred to utilize npm--especially since I haven't seen large benefits from using yarn, although I haven't actually done too much with yarn, so I may be mistaken there.
So, I don't think I would be opposed since that would align us with AFJ.

[2021-05-12 21:25] karimStekelenburg commented on #41
I'm not up to speed with this issue, just reacting to the side note here. I ran into various issues in previous projects using NPM that were all resolved by switching to Yarn.

I'm especially in favor of using Yarn because it offers more options. For example: you can pass a `--json` option to Yarn which makes it output the STDOUT logs in JSON-Lines format. With NPM you don't have that option as fa

[2021-05-12 21:40] karimStekelenburg commented on #41
@Asvoria I found this StackOverlow question regarding node-gyp and `npm install --force`. You might want to try the "delete the $HOME/.node_gyp folder and run npm update" fix that is stated there. I'm not super familiar, but I have ran into some node-gyp caching issues in the past.

[2021-05-12 21:44] JamesKEbert commented on #41
Given that I haven't really delved into `yarn` vs `npm` thoroughly I am alright switching based off your guys' endorsements of it.

[2021-05-13 08:05] TimoGlastra commented on #41
The node-gyp error is unrelated to this I think. AFJ has `indy-sdk` as an `optionalDependency` which means it will try to install indy-sdk, but allow it to fail. This was convenient when AFJ still needed to be manually packed, however now that it is released to NPM we should make it a dev dependency again

[2021-05-13 08:09] #41 closed, assigned to nobody

[2021-05-19 16:20] JamesKEbert opened #46 "Add support for revocation notification"
As a developer I want to be able to identify when a credential has been revoked and be able to display a notification to the user or a warning prior to creating a presentation proof.

[2021-05-19 16:21] JamesKEbert opened #47 "Add support for basic messaging"
We would like to give end users the capability of basic messaging with other agents and people.

[2021-05-19 16:23] JamesKEbert opened #48 "Add credential verification support"
As an end user and developer I would like the capability to verify credential proof presentations.

[2021-05-19 16:30] JamesKEbert opened #49 "Add Componentization / State Management"
As a developer I want the capability to use aries-mobile-agent-react-native in an existing project and to be able to receive new updates and push additions back. We need to add componentization or state management to enable this functionality.

The intent is to create a set of core components or state to allow a developer to use default UI components or have the necessary tools to display and inte

[2021-05-19 16:34] JamesKEbert opened #50 "Add mediation interoperability with ACA-Py"
As a developer, I would like to as a recipient utilize ACA-Py as a mediator. The additions here are to allow environment configuration of an ACA-Py mediator. This requires updates in Aries Framework Javascript, being tracked [here](https://github.com/hyperledger/aries-framework-javascript/issues/203).

[2021-05-19 16:37] JamesKEbert opened #51 "Add background message processing"
As a developer, I want to be able to fetch messages queued with a mediator while the app is in a background state. Ideally message processing can occur to determine if a notification is relevant to show to an end user.

There needs to be investigation into the allowed processing time in iOS (and Android) to determine how viable this is.

[2021-05-19 16:41] JamesKEbert opened #52 "Add push notifications"
As a developer I want a way to receive push notifications from a mediator to go fetch queued messages. Relevant discussion for ACA-Py: https://github.com/hyperledger/aries-cloudagent-python/issues/950

Relevant Rocketchat discussion: https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=PiCe7t2SSqnFCBcMk

The mechanisms discussed could allow for an open source way (Firebase) of doing pu

[2021-05-20 02:16] dukmarques opened #53 "Demo, error and aca-py"
Hello, first I would like to know if there is any document / video of the project execution, demonstrating how to execute, establish a connection and receive credentials using the test networks indicated in the readme (Indicio TestNet / Sovrin StagingNet)?

Second, I am trying to execute the project, however I am having problems in responding to the AFJ mediator, as in the image below.
![error](ht

[2021-05-20 18:26] JamesKEbert commented on #49
@NeilSMyers, would you be able to outline your approach to state management for Aries Bifold for using Aries Framework Javascript that you were proposing on the user group call yesterday?

@karimStekelenburg your thoughts here could also be useful. We'd like to help/get moving on this very rapidly.

[2021-05-20 18:46] JamesKEbert commented on #53
Hello @dukmarques! I'm glad you've been able to try the project out!

1. As of right now the best documentation is on the project readme, but I'd be interested in creating a bit more of a walkthrough document to help on our documentation efforts. I'd also be happy to help answer questions/clarifying things here or on Rocketchat! We could also do a demo/walkthrough on the next Aries Bifold User Gro

[2021-05-20 19:55] manghuli commented on #49
After talking it over with James, I'm realizing my mental model for this problem is all out of wack. So I'm all in to help out however I can on whatever solution we can work on together

[2021-05-21 01:16] dukmarques commented on #53
Hi @JamesKEbert , thanks for the replies!

1 - If possible, I ask that when performing the demonstration in the group call, that I can make it available afterwards, I cannot confirm my presence due to my schedule and would help me a lot if I had access to the content.

2- Okay, thank you very much, I'm waiting. A note, I believe that the mobile agent, in my execution, is able to communicate with t

[2021-05-21 23:23] JamesKEbert commented on #53
1. And we definitely can make it available afterwards--we record every call actually to allow people to watch if they're unable to make it or anything. The recordings just get posted at the bottom of the meeting notes of every week.

2. I can confirm that my suspicion is unfortunately not the issue. Is there something in particular that triggers this error, or just after a couple of messages with

[2021-05-24 14:36] TimoGlastra commented on #49
@karimStekelenburg can you take a look and coordinate with @NeilSMyers and @JamesKEbert?

[2021-05-24 15:31] karimStekelenburg commented on #49
Sure! I'll give my thoughts on this here.

I've looked into React Query, but from what I understand it serves another purpose. As the `Agent` class lives on the client-side, I think a client-side state management tool like Redux is a good fit. The reason for researching Redux is because it's able to run in pure JS, NodeJS, React, React-Native, etc. Another plus from my perspective is that Redux is

[2021-05-24 17:27] manghuli commented on #49
I read up on those things, it looks good to me! I'd love to pair program with you on it so we can get on the same page for code patterns

[2021-05-24 18:08] JamesKEbert commented on #49
Thank you for you thoughts here @karimStekelenburg! I second @NeilSMyers's thoughts on pair programing or hopping on a call at some point--wondering if it'd be helpful for that effort to commit/set up some of the directories in this repo sooner?

I think using Redux Toolkit is a good approach here. I am open to additional options as well, but I think you've done the most research/thought into this

[2021-05-24 18:18] karimStekelenburg commented on #49
Allllright then! I agree with the pair-programming approach as well. I think a call to get aligned and kick things off is a solid idea too. I'm not sure if this is the right place to make appointments however 😅. @JamesKEbert, could you send me an email (karim(at)animo(dot)id) and CC Neil? That way I have your email addresses and we can schedule a call asap to get things going 👏

[2021-05-24 22:55] manghuli commented on #49
Basic set up of the state management is here https://github.com/hyperledger/aries-mobile-agent-react-native/tree/feature/stateManagement in the `aries-components` folder

[2021-05-25 18:30] dukmarques commented on #53
Hello @JamesKEbert, sorry for the delay in answering you.

I have followed the steps present in the readme and the commands in the docs folder to upload the mediator.

After them, I realize that the mediator and the agent mobile make the connection, exchange some messages and stop, below I leave some logs that I believe can help.

I added to the gist due to the size, and added only the initial par

[2021-05-25 18:44] dukmarques commented on #53
About him resuming communication with the mediator, I believe he has tried the connection again, when the cell phone locks the screen due to inactivity (with the agent app open), he ceases communications, by unblocking it, he returns to communication with the mediator for a period of time (just over 1 minute) and stops.
So I believe that in this process, when unlocking the screen, he starts commun

[2021-05-31 17:26] karimStekelenburg commented on #49
Sorry guys, it took me a bit longer than expected... I'm working on some final beauty fixes, but then we'll have the connection slice fully implemented. I still have to figure out how to do the unit testing properly, but I'll push it without the tests so you guys can have a look at the setup.

I'm out of office the coming two days, but I'll make sure to have it ready before our call on Wednesday,

[2021-06-02 18:11] TimoGlastra commented on #53
We've had a discussion about this on the Aries Bifold WG call. ngrok has a limit on the polling interval and it may be the case that you're reaching the limit here.

We have a publicly hosted instance of an AFJ mediator at http://mediator.animo.id. Could you try to run with this url as `mediatorUrl` and see if the problem persists?

[2021-06-04 15:25] karimStekelenburg commented on #49
Alright peoplez! I've changed the structure and added some selectors. Sadly my lazy test script (`run.ts`) stopped working because I needed to add `react-redux` as a dependency in order to create the selectors. As `react-redux` requires `react-dom`, it doesn't simply work in NodeJS anymore without adding some react mocking dependencies. I'm skipping that for now because I'm gonna write some proper

[2021-06-30 05:19] MosCD3 opened #59 "Error: Connection record is not ready to be used"
I am trying to get Bifold to accept an invitation sent by a DTS issuer running on my local machine
I cannot get pass this error  after scanning the barcode of the credential invitation
[javascript] Possible Unhandled Promise Rejection (id: 0):
Error: Connection record is not ready to be used. Expected responded or complete, found invalid state requested
Error: Connection record is not ready to be

[2021-06-30 09:22] TimoGlastra commented on #59
Fixed by hyperledger/aries-framework-javascript#339

[2021-06-30 15:48] #59 closed, assigned to nobody

[2021-07-02 06:58] MosCD3 opened #60 "Updating to latest @aries-framework/core and @aries-framework/react-native"
Any chance to update the wallet to the latest AFJ version, soon?
Some major bug fixes out there

[2021-07-15 21:19] TimoGlastra opened #64 "Move @aries-framework/redux-store to aries-framework-javascript repo"

[2021-07-16 09:31] TimoGlastra commented on #60
Updated issue to reflect new package names

[2021-07-22 19:54] #64 closed, assigned to nobody

[2021-07-28 05:41] WhiteSeasons opened #66 "SyntaxError: JSON Parse error: Unexpected token: <"
When launch the latest version， an error will be reported when the APP is running ：

![02A50DE4-9FC9-4558-8735-6CEBB3C2945E](https://user-images.githubusercontent.com/87514220/127269581-c5fd091a-adfe-44f3-9151-5d8e0ab10f65.png)

so what's the problem and how to solve ，thanks~

[2021-07-28 06:03] WhiteSeasons commented on #66
Second question，Is there any related demo that supports credential transfer， and  compatible with this version of the app ?

[2021-07-29 18:12] mateus-n00b commented on #66
Hey, this is caused when trying to recover mediator verkey. I didnt find any solution till now. Seems to be a bug in the suggested mediator.

Regards

[2021-08-03 15:02] phearaeun opened #67 "Got pool time out"
Already followed the instruction.
Mediator and genesis are already set.
But still received the following error:
`Object {
  "indyBacktrace": "",
  "indyCode": 307,
  "indyMessage": "Error: Pool timeout
  Caused by: Pool timeout
",
  "indyName": "PoolLedgerTimeout",
  "message": "PoolLedgerTimeout",
  "name": "IndyError",
}`

Am I missing something?

[2021-08-04 09:15] WhiteSeasons commented on #53
I have run with this url， problem as picture show， fromt the latest branch version ：
![03F19599-21B8-497e-944B-9177E1F3F175](https://user-images.githubusercontent.com/87514220/128155464-969bac64-fbee-4055-a33c-b1e511e38360.png)

so why and how to solve ？

[2021-08-04 09:19] WhiteSeasons commented on #66
Change the mediator，this problem is also exist，detailed in the link：

https://github.com/hyperledger/aries-mobile-agent-react-native/issues/53#issuecomment-892500638

[2021-08-04 09:20] TimoGlastra commented on #53
This is a bit unfortunate, but AFJ recently had a major overhaul to how mediation works. The public mediator hosted at mediator.animo.id has been updated since, but this repo hasn't.

So I think the solution for now will be to check out AFJ at the version before we made the changes to how mediation works: https://github.com/hyperledger/aries-framework-javascript/releases/tag/0.0.60-unstable.0

[2021-08-04 09:33] WhiteSeasons opened #68 "ERR when invitation"
1、run Bob/Ailice agent from "aries-acapy-plugin-toolbox " project，it seems nothing wrong ：

![D9C4A6AC-046E-4b87-AD92-64EFD0E7AB8E](https://user-images.githubusercontent.com/87514220/128156967-fd0ca56d-769b-4360-b709-20a12c2cad71.png)

2、set the “event.data” param in the QRCodeScanner interface。

![E975CF7F-6C18-4d1b-A308-DCA965B0EE9C](https://user-images.githubusercontent.com/87514220/128157872-6

[2021-08-04 09:49] WhiteSeasons commented on #53
Thanks for your reply.  i want to  run the Aries Mobile and connect to the mediation,  which vesion is compatible， just for demo show。

[2021-08-05 14:21] phearaeun commented on #68
I guess `undefined` connections here happens when the agent is not initiated. I got the same error but during provisioning.
If the provisioning removed, the agent can be initiated but another issue coming :(.

[2021-08-05 15:20] phearaeun opened #69 "Provisioning error"
I received the following error while provisioning.

[code]

[2021-08-06 06:32] WhiteSeasons commented on #68
yes,  agent is not initiated.  problems occured when running this code in agent init() interface：

        if (genesisPath) {
            await this.ledger.connect(poolName, {
                genesis_txn: genesisPath,
            });
        }
        if (this.inboundTransporter) {
            await this.inboundTransporter.start(this);
        }

[2021-08-06 10:38] xtrycatchx opened #70 "Demo website to use this app for credentials storing and proof verifications?"
I managed to run build and run the app in IOS with the following:
-  genesis using : https://raw.githubusercontent.com/Indicio-tech/indicio-network/main/genesis_files/pool_transactions_testnet_genesis
- my local mediator using https://github.com/hyperledger/aries-framework-javascript/releases/tag/0.0.60-unstable.0 ( as advised here https://github.com/hyperledger/aries-mobile-agent-react-native/iss

[2021-08-06 12:37] phearaeun commented on #68
In my case, I just removed provisioning part, agent can be initiated. Accepting new invite also works. But there is a problem with receiving messages from mediator. I guess the provision part needs to be done first before making new connection. I am still figuring out on this part too. My problem right now is the provision not work as it keeps showing error [here](https://github.com/hyperledger/ar

[2021-08-11 20:04] manghuli commented on #70
You can use these two projects in tandem to create and issue credentials and perform proofs.

https://github.com/hyperledger/aries-acapy-plugin-toolbox
https://github.com/hyperledger/aries-toolbox

[2021-08-13 03:02] xtrycatchx commented on #70
I managed to do a demo but only for Credential Issuance. For Python Cloud Agent to send a Proof Request, the mobile agent received it and do nothing, no interaction in the UI as well.

Also, for the Cloud Agent, it need to be ran with Aries Interop Profile 1.0

[2021-08-16 02:47] xtrycatchx opened #73 "Support for AIP 2.0"
is support for the new Aries Interop Profile 2.0 planned for this project?

[2021-08-16 14:40] TimoGlastra commented on #73
Yes it's on the roadmap to eventually support AIP2.0

Before we can start to implement this in the mobile agent, we should first add support for AIP2.0 to [Aries Framework JavaScript](https://github.com/hyperledger/aries-framework-javascript.git). We're actively discussing the road to AIP2.0 in the AFJ working group calls (See https://github.com/hyperledger/aries-framework-javascript#contributing

[2021-08-17 01:24] WhiteSeasons commented on #70
Hello ，can you share the demo , which can Interactive with the  mobile agent 。thanks

[2021-08-17 03:05] xtrycatchx commented on #70
You may check my screencast here [https://youtu.be/AomoHvw4lgc](https://youtu.be/AomoHvw4lgc)

[2021-08-17 03:06] xtrycatchx commented on #73
Thanks for this info

[2021-08-17 11:02] TimoGlastra commented on #70
This is really cool @xtrycatchx! Would it be okay to add this to the readme of the project? I think it can be valuable to others getting started

[2021-08-17 11:05] xtrycatchx commented on #70
Yes, its okay 😎

[2021-08-17 11:14] TimoGlastra commented on #70
Awesome :)

https://github.com/hyperledger/aries-mobile-agent-react-native/pull/74

[2021-08-18 17:41] manghuli commented on #70
Proofs aren't part of the app quite yet. I'm starting work on them today. I'll check back in once they get merged

[2021-08-24 14:57] #69 closed, assigned to nobody

[2021-08-24 14:58] #67 closed, assigned to nobody

[2021-09-03 07:35] AnasAlamin opened #76 "unable to get the mediator work on docker"
i'm getting an error message when i'm trying to run the below command on docker playground

## command

docker-compose -f docker/docker-compose-mediators.yml -f docker/docker-compose-mediators-ngrok.yml up --build

## error message

ERROR: The Compose file './docker/docker-compose-mediators.yml' is invalid because:
Unsupported config option for services.mediator: 'platform'

[2021-09-06 12:51] #76 closed, assigned to nobody

[2021-09-08 17:00] JamesKEbert commented on #60
Completed with #75

[2021-09-08 17:00] #60 closed, assigned to nobody

[2021-09-14 05:03] ykare opened #77 "ERROR when npm run ios on MacOS BigSur"
Hi, when I tried to run "npm run ios" on MacOS BigSur, I got the following error:

[code]

Here is the version information:
npm: 7.23.0
node: 12.16.2
pod: 1.11.2
MacOS: 11.5.2

Thanks in advance.

Yoshiyuki Karezaki

[2021-09-14 13:19] karimStekelenburg commented on #77
XCode and iOS require you to sign the code using an Apple developer account. Please refer to https://help.apple.com/xcode/mac/current/#/dev60b6fbbc7 for more information on this topic.

Closing this issue as it is not related to this project.

[2021-09-14 13:19] #77 closed, assigned to nobody

[2021-09-14 13:22] karimStekelenburg commented on #70
Closing this one as it seems stale. Reopen if needed.

[2021-09-14 13:22] #70 closed, assigned to nobody

[2021-09-15 04:25] WhiteSeasons commented on #69
start met the same problem，  what‘s the problem  and how  to solve

[2021-09-15 09:22] WhiteSeasons opened #78 "No provision record found"
![B954E8AB-CFD7-41f4-957B-67CA111D9C93](https://user-images.githubusercontent.com/87514220/133406777-66fc6553-5d4f-499a-84ac-d7e0779953e6.png)

when run the  android app， throw an indyError， walletItemNotFound。

so how to solve， thanks。

[2021-09-15 09:23] #66 closed, assigned to nobody

[2021-09-15 09:23] chheunpheara commented on #69
This is not resolved but I am sure we can ignore it for now till the latest update arrives. If you want to make it works, on AFJ, you should use this release `0.0.60-unstable.0` to start the mediator.

[2021-09-15 09:23] #68 closed, assigned to nobody

[2021-10-08 04:40] xtrycatchx opened #86 "Instructions for MEDIATOR for .env outdated"
I might be wrong, but is the README outdated ? - the value of the MEDIATOR should be the invitation url

[code]

[2021-10-08 18:56] JamesKEbert commented on #86
Hi @xtrycatchx! Yes, you'd be correct, I've updated the docs in https://github.com/hyperledger/aries-mobile-agent-react-native/pull/81
I've resolved some requested changes from Karim, so I'd expect that to be merged here soon!

[2021-10-11 19:52] JamesKEbert commented on #86
Fixed in #81

[2021-10-11 19:52] #86 closed, assigned to nobody

[2021-10-20 11:45] nbAmit opened #90 "Add multi-language (internationalisation and localisation)support"
Add multi-language (internationalisation and localisation)support using I18next and react-i18next​

[2021-10-20 17:42] jleach opened #92 "The workflows are not able to run to completion"
The GitHub Actions (workflows) are not able to run because there are too many LINTing issues.

[2021-10-20 20:09] #50 closed, assigned to nobody

[2021-10-20 20:09] #73 closed, assigned to nobody

[2021-10-20 20:10] TimoGlastra commented on #78
Did you manage to fix the issue?

[2021-10-21 17:46] JamesKEbert commented on #78
If I'm not mistaken I think this would be expected behavior since the first time the agent launches no mediator will have been configured and it will then proceed to create the connection & record?

[2021-10-28 16:57] #92 closed, assigned to nobody

[2021-10-28 23:20] jleach opened #98 "The VirtualizedLists component should not be embedded in a SafeAreaScrollView"
As per the error message the app is throwing a `VirtualizedLists` should not be embedded in a `SafeAreaScrollView`.

[code]

[2021-10-29 18:29] amanji opened #100 "Add multi-ledger support"
AFJ has been updated with multi-ledger support. Bifold AFJ dependencies should be updated and Agent initialization should include multiple ledger configurations.

[2021-10-29 20:38] TimoGlastra commented on #100
Adding the UI part isn't necessarily needed. By adding multiple ledger configs, AFJ can automatically determine which ledger to choose for a certain DID: https://github.com/hyperledger/aries-framework-javascript/blob/main/docs/getting-started/4-ledger.md

[2021-10-29 22:37] #98 closed, assigned to jleach

[2021-10-30 00:26] amanji commented on #100
Updated the description to convey the correct fix required.

[2021-10-30 19:43] #100 closed, assigned to amanji

[2021-10-31 16:52] standlove opened #102 "After accept the offer in app, the offer state is not changed to issued in Trinsic"
Hi,

After the acceptOffer method is called, the offer state becomes Requested instead of Issued.

It works fine when accept from the Trinsic Wallet app. Can you help check if anything else is needed to make it work with Trinsic server?

Thanks.

[2021-11-01 16:27] amanji opened #103 "After scanning QR code, blank screen displayed"
After scanning a QR code connection a success modal is displayed. Upon unloading the modal the camera screen goes blank with no navigation triggered back to the home page.

AFJ: 0.1.0-alpha.289
Bifold: Commit cc83291ac4d579d3264181ec8890ba988116bcd7

[2021-11-01 18:34] JamesKEbert commented on #102
We've had issues previously with the Trinsic Enterprise--do you know if you're doing a connection-less credential offer or a standard credential offer?
Assuming the latter, the Issuer should actually issue once the credential has been requested from the Holder.

[2021-11-01 18:43] TimoGlastra commented on #103
Is this bug introduced with the updates to AFJ? Is the connection successfully created?

[2021-11-01 19:48] amanji commented on #103
It looks like the connections is correctly established. I don't think the issue was introduced with AFJ updates (since I've observed the same issues before the latest update) Here is a screenshot of the workflow for accepting a VC. After the screen goes blank, I have to restart the app and I can then see the connection and notification to accept the credential.

Update:
The issue stems from settin

[2021-11-01 20:10] amanji commented on #103
I believe the fix should be to navigate to the Home Screen after a scan is successful:

Here is the current block that handles code scanning:
[code]

Or perhaps in the hook:
[code]

 Unless there is supposed to be a different workflow imitated after a connection is established.

[2021-11-01 20:16] TimoGlastra commented on #103
I'm not too familiar with this code. Maybe @JamesKEbert or @NeilSMyers have some insights here?

[2021-11-01 21:15] JamesKEbert commented on #103
Yeah this would be a workflow thing vs an AFJ issue (since the connection is being established). But yes, if you wanted to forward them to the home screen after they've connected (potentially even after a 3-5 second timeout), I'd recommend the second code block you mentioned with the useEffect:

[2021-11-01 22:47] amanji opened #104 "Proposed improvements to QRScanner"
Thinking of a few minor tweaks to help improve the QR Scanner:

1. Would it be beneficial to have a toggle-able torch light?
2. Should we provide additional user feedback when a QR code is identified via haptic feedback?
3. Can we remove the timeout to re-activate the camera (I might be misunderstanding the use case for the timeout)?
4. ~Add connection/credential offer hints on camera screen?~ <-

[2021-11-02 00:12] standlove commented on #48
Hi, @JamesKEbert

How to scan a qrcode to initiate the credential verification, is it supported by the arise javascript framework?

Thanks.

[2021-11-02 16:46] amanji opened #106 "After accepting credential offer, blank screen displayed"
Occurs when there is a notification present on the Home Screen to accept/reject a credential offer. Upon accepting the offer, a modal is displayed indicating success/failure of acceptance. When the modal is dismissed, a blank screen is displayed. No errors are logged to the console.

[2021-11-02 17:56] #103 closed, assigned to nobody

[2021-11-03 03:02] standlove commented on #102
Hi, @JamesKEbert

I'm not sure which one it is. I'm doing this from the trinsic UI:
![image](https://user-images.githubusercontent.com/2214734/140004545-6fa3d740-ebfc-47da-942b-4c17f5e4c665.png)

so what if it's connection-less offer? Is there any other step needed?

Thanks.

[2021-11-03 15:46] amanji commented on #106
Resolved by #107

[2021-11-03 15:46] #106 closed, assigned to nobody

[2021-11-04 00:00] jleach opened #110 "Add support for multiple languages (l18n)"
This requested project improvement is to add support for multiple languages (l18n).  When people can interact with a VC in a language they easily understand it will help erase barriers to adoption. To make this happen I've implemented a the basic mechanics for internationalization (i8n) using two basic npm packages. One to help select the prefers language and another to manage translations. The im

[2021-11-04 00:04] jleach opened #111 "Allow the user to select the language the application presents"
Based on feedback from PR #109 it would be worthwhile allowing the user to override the automatic language selection. A few considerations are how to make it easy to do if the application is set in the wrong language. If you can't read the screens it will be difficult to navigate to where one needs to make the change.

[2021-11-04 00:13] standlove commented on #102
Hi, @TimoGlastra

Sorry to bother you. If possible can you take a look at this too?

Thank you.

[2021-11-04 02:44] standlove opened #112 "Got "Message is undeliverable to connection" error in iphone"
Hi,

When scanning the Trinsic invitation qrcode in iphone, I got the `Message is undeliverable to connection`.

I have already added the `mediator3.test.indiciotech.io` and `api.portal.streetcred.id` in exception domains, anything else is missing?  Thanks.

[code]

[2021-11-04 06:50] TimoGlastra commented on #102
Sure could you exactly describe the steps you're taking in both Trinsic and the Mobile wallet. From clean wallet to accepting a credential offer. Maybe I can reproduce in our wallet

[2021-11-04 07:29] standlove commented on #102
Hi,  @TimoGlastra

1. In trinsic
    * create a new Organization
    * generate an invitation qrcode, and then copy the URL and open the URL in a new browser window to get the unshortened url
    * Copy the unshortened URL into a qrcode generator to generate a new invitation qrcode

2. In mobile app
    * Scan the new invitation qrcode to setup the connection

3. In Trinsic again
    * Create a ne

[2021-11-04 07:44] TimoGlastra commented on #102
It may be an issue here that Trinsic thinks the request is different from the offer and therefore aborts the auto issuance?

I'll walk through the steps when I have the time.

[2021-11-04 21:08] jleach opened #114 "Propose adding the requirement for semicolon in code"
This requested project improvement is to add back eslint/prettier rules to require the use of semicolons.

While Automatic Semicolon Insertion (ASI) is great and pretty reliable I find its more common in ECMAscript based languages to add semicolon in rather than rely on the implementations in the JS interpreter (which are quite day in most implementations). Also, I believe they are require by the

[2021-11-05 00:37] standlove commented on #112
Hi, @TimoGlastra  Possible to look into this?  Thanks.

[2021-11-05 00:40] standlove commented on #47
Is there any progress in this one? Thanks.  @JamesKEbert

[2021-11-05 08:27] TimoGlastra commented on #114
We've had a discussion about it in AFJ: https://github.com/hyperledger/aries-framework-javascript/pull/224 and I applied the same rules to this repository to keep consistency between the projects. I think it would be great if we can keep some consistency between the projects.

But if the overall preference of the other maintainers is leaning towards using semicolon, fine by me 👍

[2021-11-05 15:17] #110 closed, assigned to nobody

[2021-11-05 17:17] jleach commented on #90
Fixed as part of PR #109

[2021-11-05 17:17] #90 closed, assigned to nobody

[2021-11-05 17:20] jleach commented on #112
@standlove Are you able to provide the URL to where you got the QR code from?

[2021-11-05 17:24] standlove commented on #112
Hi, @jleach

It's an invitation qrcode from Trinsic:
![image](https://user-images.githubusercontent.com/2214734/140552419-81877392-4493-434d-9d21-eb5f7594638d.png)

The unshortened URL is like: https://trinsic.studio/link/?d_m=eyJsYWJlbCI6InRvcGNvZGVyLXRlc3QiLCJpbWFnZVVybCI6Imh0dHBzOi8vdHJpbnNpY2FwaWFzc2V0cy5henVyZWVkZ2UubmV0L2ZpbGVzLzJjYzNjM2VhLTIzNjAtNDFlYi05ZDA5LTc0MjAwNTZiMDMxZV9mYTBhNjIwYS0zZ

[2021-11-05 23:13] jleach opened #117 "App throwing navigations errors"
After the latest updates the application is throwing navigation errors when a notification is received:

[code]

Since the `NavigationContainer` wraps `<App />` in `index.js` its a root level component and definitely exists. Adding an additional one causes additional errors.

[2021-11-05 23:36] #117 closed, assigned to jleach

[2021-11-07 09:48] nbAmit commented on #90
Oh my bad, I also worked on the same

[2021-11-07 14:26] standlove commented on #112
Hi, @jleach

Have you found time to help check this?

Thanks.

[2021-11-08 06:17] nbAmit opened #121 "Localisation support for VC schema attributes and value"
Can we support the localisation for schema attributes and value?

To achieve this do we need to implement this functionality on react-native app side or on Aries agent side by implementing the below RFC?

https://github.com/hyperledger/aries-rfcs/blob/main/features/0043-l10n/README.md

[2021-11-08 06:44] nbAmit opened #122 "Font selection and saving it Wallet App setting"
Can we have options in settings screen where user can set the custom fonts and also scale the font size as well?

[2021-11-08 18:17] amanji opened #123 "Refactor styling in Credential Offer and Proof Request screens"
Currently these screens `StyleSheet`s to apply component styling. We want to refactor these screens to use `emotion`.

[2021-11-09 18:32] jleach opened #124 "Application artwork required for store submissions"
From iOS 11+ application must be submitted with an complete icon set. As part of fixing this issue we would like to add the Aries themed icon set for iOS and Android.

[2021-11-10 14:00] oznfc commented on #103
ı want to use sovring staging network and this example(https://email-verification.vonx.io/). When ı scan the Qr code my screen waiting Failure and ı must close app.I added genesis codes to ```config/ledgers/indy/indico-test-net``` . I added genesis url to env file. what is the problem ?

[2021-11-10 15:51] amanji commented on #103
@oznfc if you're using the latest code you no longer need to specify a genesis url in the .env file. AFJ now has multi-ledger support and the mobile application is configured with both Indicio Test Net and Sovrin Staging ledgers by default (although you can add and remove ledgers based on your needs). You will still need to specify a mediator url in the .env file. Are you using the latest commit o

[2021-11-10 18:53] #124 closed, assigned to jleach

[2021-11-10 19:05] ianco opened #127 "Update to latest Indy SDK"
In AFJ the indy sdk reference (in package.json) is:

`"indy-sdk": "^1.16.0-dev-1636",`

Bifold looks like it's still on `1.14.0`, can we update to the latest Indy SDK?

[2021-11-10 19:12] ianco opened #128 "Add support for BCovrin Test and CANdy Dev ledgers"
Genesis url:  http://test.bcovrin.vonx.io/genesis

This network is used by a lot of test/demo apps

[2021-11-10 22:33] jleach commented on #122
Hi @nbAmit Do you think users will want to select fonts / sizes? I've looked through a few lager apps (Instagram, LinkedIn) and they don't appear to let the user select fonts. Rather, they appear to use the default font or one of their own choosing.

[2021-11-10 22:46] jleach commented on #52
Work in Progress on the AFJ side.

https://github.com/hyperledger/aries-framework-javascript-ext/tree/main/packages/push-notifications

[2021-11-10 22:53] swcurran commented on #121
I don't think we would ever want to localize values, but we would want to localize the schema attributes -- the labels for the values.

I don't think the intention of 0043 was to be used in this way, but it's an interesting idea.  Somehow the holders and verifiers have to get the "schema localization" file and know it was from the issuer.

The issue of localizing the schema attributes (including t

[2021-11-10 22:54] jleach commented on #128
@ianco In PR #101 @amanji added support for the Sovrin Staging ledger. Is this a different ledger?

[2021-11-10 22:56] jleach commented on #128
@ianco NM. Must be different, the genesis files differ.

[2021-11-11 08:21] TimoGlastra commented on #127
To be honest that is easier said than done. The build pipeline for indy is quite broken and therefore not so easily updated. Android may be easier that iOS, but it took us a really long time to figure out how to build the `Indy.Framework` that is now in this repo.

See https://github.com/AbsaOSS/rn-indy-sdk/issues/20 for more info. In the end I was able to build it using this repo: https://github.

[2021-11-11 08:46] TimoGlastra commented on #121
We also do that! May be good to write down some rules for it so we can be consistent across apps

From the Aries RFC on [JSON-LD compatibility](https://github.com/hyperledger/aries-rfcs/blob/main/concepts/0047-json-ld-compatibility/README.md#internationalization-and-localization):

[2021-11-11 10:36] oznfc commented on #103
yes ı updated again today.  I added  only
[code]
 to env file.
When ı scan the Qr code my screen waiting on ```pending``` secreen  and ı must close app. when ı opened app again. ı can see my connection on  contact screen.  error this :  normaly when scaned my qr code  by Trinsic wallet.  I'm connecting and ı 'm getting message for credential. but  ı can not getting credential message in this app.

[2021-11-11 13:41] ianco commented on #127
@TimoGlastra thanks for the info.

[2021-11-11 14:08] ianco commented on #121
Further to @swcurran 's comment about localizing the credential type and attribute labels (as opposed to the attribute values), I don't think it makes sense to include these in the credential, or in the DIDcom messages.  The issuer may not know, at the time of issue, what languages need to be supported.  If we implement a separate "bundle" as @swcurran suggests, then this can be updated as new lan

[2021-11-11 14:09] ianco commented on #121
Regarding translations of attribute values, I think the internationalization RFC could support that, as it would be the issuer that would have to provide these values when the credential is issued (and only the issuer would know which values could be translated)

[2021-11-11 14:13] ianco commented on #121
Consider linking Indy credential attributes to schema.org-defined properties?  Apparently there is a plan to provide translations at some point:

https://schema.org/docs/faq.html

Q: Is schema.org available in multiple languages? When is that coming? What languages is the markup available in?

Schema.org markup can be used on web pages written in any language. The site is currently available in En

[2021-11-15 17:16] jleach opened #132 "Add support for displaying who issued a credential"
This proposal is to first add support to AFJ to allow looking up the alias of the issuer in the ledger then pulling trough the functionality so that we can display that in the applications credentials. When credentials don't contain any information on who issued a credential the Alias can be used as a convention.

Feedback and comments welcome.

[2021-11-15 17:46] TimoGlastra commented on #132
You can already know who issued the credential based on the label from the connection associated with it. Isn't that enough?

[2021-11-15 18:50] jleach commented on #132
@TimoGlastra Maybe. What's the workflow to get it? Use `useConnectionById ` with the ID from the credential and then the object returned should have that label?

EDIT: I think the challenge is the label is self-attested: It can be added by the inviter (when sent) or invitee. So not overly secure - no?

[2021-11-15 18:57] TimoGlastra commented on #132
Yes but I also wouldn't account on the alias on the ledger being secure. I think that is a free form field. Any endorser can write to the ledger

Sam did a presentation on this a while ago: https://hackmd.io/@TelegramSam/Hy32toMkD#/ we should find other ways to establish trust after creating a connection. E.g in the case of BCGov a proof that you are a registered business.

[2021-11-15 19:05] ianco commented on #132
@TimoGlastra  the question is about what to display for the issuer of the credential.  The alias on the connection is self-attested, so I don't think that makes sense (in that the inviter/invitee can use whatever they want in the label).  Also if the holder deletes the connection, but still holds the credential, then they no longer have the connection alias to display.

The hackmd doc you link ^^^

[2021-11-15 19:08] ianco commented on #132
@jleach a credential will always contain a credential definition id, which contains the public DID of the issuer

[2021-11-15 19:10] jleach commented on #132
Noted. @ianco I was thinking something human readable (context of displaying something for a person to see).

[2021-11-15 19:12] ianco commented on #132
Ah ok got it.  I don't think credentials will *ever* contain human-readable context of the issuer (at least in the current form), hence the current approaches to use the schema name, cred def tag, etc

[2021-11-15 19:14] TimoGlastra commented on #132
Maybe I'm misunderstanding the question here, but what I'm trying to say that both are  just as insecure.

E.g we as Animo have a DID on the ledger with an alias: https://indyscan.io/tx/SOVRIN_MAINNET/domain/75419 We didn't write this DID to the ledger ourselves and the Alias was set by the entity submitting the DID.

So as I understand it, both labels are self attested. There is indeed the case o

[2021-11-15 19:53] ianco commented on #132
Agree with everything you just said.

However I think the trustworthiness of the DID info on the ledger will be based on the process around how the DID (and related info) is written.  It has to go through one of the trustees (I think is the correct role) and as part of their process they should confirm who you are.  For example if I send an email to one of the nodes on the production SOVRIN networ

[2021-11-15 19:59] ianco commented on #132
The process that @jleach and I just discussed is - when a holder receives a credential, then the wallet will display the issuer as follows:

- extract the issuer DID from the cred def id, and then lookup the alias on the ledger
- if there is no alias, then display the label from the connection

Ideally the holder should be able to request a proof from the issuer that (a) they are who they claim, a

[2021-11-15 20:04] TimoGlastra commented on #132
This makes sense. Thanks for taking the time to explain it to me @ianco! :)

[2021-11-15 20:28] jleach commented on #132
@TimoGlastra Created [this](https://github.com/hyperledger/aries-framework-javascript/issues/538) issue in the AFJ repo to track the lower level work for this change. Feedback as to where to start welcome.

[2021-11-15 20:59] ianco commented on #132
I did a quick scan through the SOVRIN docs and couldn't find anything *specific* around how to confirm identity when writing a DID to the ledger:  https://sovrin.org/library/sovrin-governance-framework/

...  however there is some general language around methods of trust, including contracts, which I expect would apply ...  @swcurran ?

[2021-11-15 21:53] swcurran commented on #132
@ianco -- there is nothing in cryptographic in the ledger to specify what gets written to the ledger.  To be able to write to a Sovrin ledger, you have to have permission (Endorser) or get your transaction signed by an Endorser. To be an Endorser you have to sign a legal agreement and demonstrate to the Sovrin Foundation that your organization is a registered entity. However, there is no tie betwe

[2021-11-15 22:09] ianco commented on #132
Hmmmm doing a quick scan of the SOVRIN mainnet (using the famous VON ledger browser https://sovrin-mainnet-browser.vonx.io/):

- Most `NYM` transactions do *not* have an alias (Animo is one of the few that do)
- Most `ATTRIB` transactions contain only the endpoint (no other metadata)
- Most endpoints are `127.0.0.1`, `localhost` or some variation of `*.ngrok.io`, which implies that almost all data

[2021-11-15 22:09] swcurran commented on #132
@jleach asked in chat about how the alias appears on the ledger. Figured it was better to discuss this here.

The URL (endpoint) an Indy issuer are by convention are published in an "ATTRIB" transaction of type (raw value) "endpoint". The alias can be set on the NYM transaction (**this is corrected per Ian's note above** ^^^)  This can be retrieved in two ways:

- If you are using a library that i

[2021-11-15 22:12] swcurran commented on #132
Thanks Ian - you are right about the Alias -- it is on the NYM.  And it is rarely used...

[2021-11-16 19:00] jleach commented on #132
I think we are full circle now and using the `alias` does not seem like a good solution. Best we can hope for is to use the label in the connection and hope for the best. Will add this to the greater working group conversation on how to make VCs more human consumable.

[2021-11-16 19:00] #132 closed, assigned to jleach

[2021-11-16 19:05] jleach opened #133 "Refactor alert notifications to work better with long running tasks"
May VC related workflows are asynchronous. As such, an operation like making an offer, for example, can take some time causing the UI to time out and the workflow to get lost. This makes the UI/UX a little unfriendly as one looses track of where one is in the process, what is being waited on, and if there are any actions the user should preform.

As part of this issue I propose to rework alert sty

[2021-11-17 14:35] nbAmit commented on #122
Here is one of the approach we can think of

![ezgif com-gif-maker](https://user-images.githubusercontent.com/91456036/142218625-579a8954-03ba-4f08-ab75-b980cff56b85.gif)

[2021-11-17 17:06] manghuli opened #134 "Switch out modals with toast notifications"

[2021-11-17 17:08] manghuli opened #135 "Deep Linking"

[2021-11-17 17:12] manghuli opened #136 "Revocation"
Waiting for revocation to be added to AFJ

- check for revocation state on credential cards
- create revocation notification item for notification list

[2021-11-17 17:35] jleach commented on #133
As per the [RC chat](https://chat.hyperledger.org/channel/aries-bifold?msg=ev8N8JKaAjrkjT3vf) Ryan will be looking into this.

[2021-11-17 17:36] manghuli opened #137 "Theming"
- remove emotion library
- revert styles accordingly
- extend globalStyles file as needed

[2021-11-17 20:21] TimoGlastra commented on #137
~~Why do you want to remove the emotion library, I thought they were just added? I don't have a specific preference myself, but just curious why we're reverting~~

nevermind, just saw your message in Rocket.Chat

[2021-11-17 20:42] amanji opened #138 "Add support for connection-less presentation requests"
Currently presentation requests can only be initiated with a connection. The Scan component should be updated to handle connection-less presentation requests. This can later be extended to support OOB.

[2021-11-17 21:31] darrellodonnell commented on #121
Are we talking here about localizing the credential attribute names or how they appear on various devices? Imagine the most trivial "name" credential:

`{
"name":"Darrell O'Donnell"
}`

and, en francais
`{
"nom":"Darrell O'Donnell"
}`

Those, data-wise, are two different credential types, with different credential schemas.

OR - are we talking about how I learn how to render those?

`NAME: Darrell

[2021-11-17 21:36] ianco commented on #121
How they are displayed in the UI

I.e. a credential can contain `{ "name":"Darrell O'Donnell" }` or `{ "name_nomme":"Darrell O'Donnell" }` (the latter because Quebec is very fussy about using French), then the UI may display one of:

`NAME: Darrell O'Donnell`
`NOMME: Darrell O'Donnell`
`Name/Nomme: Darrell O'Donnell`

... or whatever

[2021-11-17 21:42] darrellodonnell commented on #121
mDL (ISO 18013-3) is quite explicit about its attribute names (e.g. `family_name`, `given_name`, `birth_date`, `issue_date`). The rendering of that data is application-specific and PERHAPS there can be a data dictionary with well-known translations. For rich data ecosystems that would be a good thing to have.

[2021-11-17 23:35] ianco commented on #121
If we have a standard set of attribute names then we should be able to have a standard set of translations.  It would be nice if the attribute names were standard across different credentials (for example does a Health Card also have a `family_name` and `given_name`?)

Just on the topic of names, when the BC Health folks were issuing the PoV cards, they had to re-issue twice to make sure to includ

[2021-11-18 11:10] darrellodonnell commented on #121
mDL uses `given_name` for multiple names.

"First name(s), other name(s), or secondary identifier of the license holder"

[2021-11-18 12:20] darrellodonnell commented on #121
I suggest we look to create a Label Overlay, per OCA.

https://github.com/hyperledger/aries-rfcs/tree/main/concepts/0013-overlays#label-overlay

[2021-11-19 23:04] matrwolff33 opened #144 "Release Build No Mediator Connection"
Hello,
I am currently trying to create a release build so that I may distribute the APK amongst our team members for testing with various solutions / demos that we have. When running in debug / development I have no issues and am able to form the connection with the mediator and all seems well. But when creating an apk using `./gradlew assembleRelease` the connection is never formed and there is a

[2021-11-22 19:22] jleach opened #146 "Refactor the app security screens"
Refactor the app security (PIN) screens as per the mocks:

https://xd.adobe.com/view/93c2d0e1-081a-4f62-b358-4e3d9b9a8847-c691/grid/

[2021-11-22 19:26] jleach opened #147 "Create new on-boarding screens"
When implemented this feature will allow the application to show a carousel of on-boarding training screens. They will only be displayed once and their content will be customizable. See [these mock designs](https://xd.adobe.com/view/93c2d0e1-081a-4f62-b358-4e3d9b9a8847-c691/grid/) to better understand how it will be presented when done.

[2021-11-22 19:27] jleach opened #148 "Terms and Conditions screen"
As a User I want to review the terms and conditions screen
So that I understand my legal obligations when using the app

Scenario: User Accepts Terms

Given The User has completed the on-boarding carousel screens
And User sees the Terms and Conditions screen
When The User scrolls to the bottom of the screen
And The users accepts the Terms and Conditions
And The continue button becomes active
And T

[2021-11-23 03:15] #123 closed, assigned to amanji

[2021-11-28 22:41] amanji opened #154 "Connections list"
Currently the Connections list is a basic flat-list that shows the name of the Issuer, the public DID and the date added. Proposed enhancements:

* Tap to show more details of connection
* Swipe to delete/remove connection
* Branding/theming and logo addition (pending community standardization of Credential/Connection display)

[2021-11-29 19:28] amanji commented on #154
Screenshots of potential UI/UX for discussion

<img width="378" alt="Screen Shot 1" src="https://user-images.githubusercontent.com/5605464/143930207-6146837d-7658-494d-8f53-ef8625b9ef2f.png">
<img width="378" alt="Screen Shot 2" src="https://user-images.githubusercontent.com/5605464/143930210-dcded9d3-f29e-47a7-a9d4-8514c52753dc.png">
<img width="378" alt="Screen Shot 3" src="https://user-images.g

[2021-12-01 12:38] ripulbd opened #155 "Testing with a locally deployed Von based Indy Network"
Hi,

I am trying to test with a locally deployed Von based Indy Network. For that I have set up the genesis URL as GENESIS_URL=http://localhost:9000/genesis. But it seems that it cannot interact with the Indy Network. Is the current version only configured with Sovrin Staging and Indicio Network? If I would like to change that so that it can be configured to work with the local setup, what needs t

[2021-12-01 20:55] cvarjao opened #156 "indy-sdk-react-native as declared dependency instead of vendoring"
As per Twelve-Factor App methodology, switch to "Explicitly declare and isolate dependencies" to "declares all dependencies, completely and exactly, via a dependency declaration manifest"

[2021-12-01 21:34] TimoGlastra commented on #156
I'm not 100% sure what you mean by this issue. Could you elaborate a bit @cvarjao?

[2021-12-01 21:39] cvarjao commented on #156
It is about getting `indy-sdk-react-native` packaged/published (maybe using CocoaPods?), instead of copying the files to `ios/Pods/Frameworks/Indy.framework`

[2021-12-01 21:40] TimoGlastra commented on #156
Ah makes sense. That would be really great! Are you going to package the indy binaries with the package, or going to install them with some post install script?

[2021-12-01 21:43] cvarjao commented on #156
I just create the issue so I can get somebody else looking into it :D I am not an iOS developer. But, I think it might require some work on the Indy repository side to do the publishing. Hopefully, we can leverage CocoaPods dependency management to take care of the fetching/installing as opposed to the hacky custom download/extract post install script I've introduced for Android. But similar along

[2021-12-02 16:10] ianco commented on #155
Hi, you need a network that is publicly accessible, or else your mobile app can't connect to it.  When you run von-network it defaults to use a docker IP (inly available in the internal docker network), or you can run as `./manage start <your ip>` which will run on a local IP address - neither of these options will work for a mobile app.  You can deploy von-network in a public cloud (as is done wi

[2021-12-02 16:15] ianco opened #157 "Feature request - Change mediator connection"
Currently the mediator invitation is bundled with the release in an `.env` configuration file.

I'd like the ability to dynamically connect to a new mediator after I've installed the app, i.e. connect to a new agent and then flag this new connection as the Mediator connection.

Not sure if others are interested in this feature, but currently the mediator is bundled into the release and then (as fa

[2021-12-02 16:49] amanji commented on #155
A couple things you need to do. As @ianco mentioned, you'll need to make the network publicly accessible. You could ~use ngrok to do this or~ deploy the network to a public cloud. The second piece is configuring the mobile agent to use the ledger. You will need to add an entry to the `configs/ledgers/indy` module. Take a look at `indicio-test-net` or `sovrin-staging-net` for examples.

The main pa

[2021-12-02 16:59] ianco commented on #155
Unfortunately ngrok won't work to expose the nodes publicly.  The IP address for the nodes needs to be publicly accessible (ngrok just exposes a public url).  You can run von-network using `./manage start <your ip>` with pretty much any IP address, but the IP address needs to be the one you can use to connect to the nodes.

[2021-12-02 17:02] amanji commented on #155
Noted. The genesis file would need to have the publicly accessible IP. Updated my comment to reflect that ngrok won't work.

[2021-12-02 20:22] ripulbd commented on #155
Thanks a lot @ianco and @amanji for the comments. I was able to sort this issue following your suggestions and using the bcovrin test deployment. I think it will be useful to add this suggestion in the readme file for someone who would like to utilise the same setup.

One more thing: when the Mobile agent receives a proof request, it does not do anything. I was expecting a notification in the home

[2021-12-02 20:24] amanji commented on #155
Is it a connection-less proof request because if so there's a PR in review that will add support for that? It should be merged anytime soon.

See: https://github.com/hyperledger/aries-mobile-agent-react-native/pull/149

[2021-12-02 21:07] ripulbd commented on #155
I have been exploring with the proof presentation after the connection has been established. For example, I am trying to reiterating the Faber College and Alice (now in the mobile agent) use-case. For this, I am using the aca-py for emulating Faber.

[2021-12-03 14:54] darrellodonnell commented on #154
does "swipe to delete connection" also delete the credentials that were issued across that connection? This may be desirable - but also may need to be considered case-by-case.

Consider two use cases:

- A credit union credential may require the connection to be fully functional (e.g. credential can be used in isolation, but usually it is part of a flow that ends up prompting the member to confirm

[2021-12-03 17:51] amanji commented on #154
I hadn't considered the first use case, more the second where a credential could be kept after the connection is severed. So swipe to delete would really just remove the connection.

[2021-12-06 17:23] amanji opened #159 "Add a close button to the scanner screen"
The camera scanner is currently a full screen modal. A user can swipe from the top to close, however this is not intuitive. A close (icon) button should be added to the screen.

[2021-12-06 19:54] jleach opened #160 "Accessibility labels on the tab bar not set correctly"
The accessibility labels on the tab bar are not being set correctly and need to use `tabBarAccessibilityLabel` in the `options.

[2021-12-06 22:25] jleach opened #163 "Style launch / splash screen so it looks more integrated with the app"
The current launch screen is the default created form using the CLI. It will need to be replaced by one branded as per the color pallet and logo in the application. Preferably, one done in RN so that it can be easily customized / themed.

[2021-12-06 23:02] ianco opened #164 "Incorporate overlays (OCA) to support internationalization"
See https://hackmd.io/3sKnm7v7R_mo6or3TFFsfQ

[2021-12-06 23:04] jleach commented on #148
Looking at doing this in HTML because it'll be pretty touch to get the styling working as shown in the screen designs. [This](https://www.npmjs.com/package/react-native-render-html) looks like a promising npm package.

[2021-12-07 02:01] #138 closed, assigned to amanji

[2021-12-07 02:02] #160 closed, assigned to jleach

[2021-12-07 21:05] #163 closed, assigned to jleach

[2021-12-09 17:10] #104 closed, assigned to amanji

[2021-12-09 17:10] #134 closed, assigned to NeilSMyers

[2021-12-15 17:56] WadeBarnes commented on #128
Genesis url for CANdy Dev is: https://github.com/ICCS-ISAC/dtrust-reconu/blob/main/CANdy/dev/pool_transactions_genesis

[2021-12-15 20:03] #128 closed, assigned to amanji

[2021-12-15 20:04] #159 closed, assigned to amanji

[2021-12-22 03:42] dukmarques opened #168 "Sovrin BuilderNet and Mediator"
Hi, I'm trying to use the project through the Sovrin BuilderNet network (since StagingNet is now paid).
I'm uploading an Aca-Py instance locally as a mediator and generating a connection invitation. When passing the invitation in the .env file, I've been getting the following errors when running the project on my mobile:

[code]

Would you like to know if the project supports Sovrin's BuilderNet n

[2022-01-05 23:12] amanji commented on #154
Workflow linked: https://lucid.app/lucidchart/e1b8b454-5652-44ca-9345-fadf80cf20ff/edit?invitationId=inv_b4ac42d1-dae2-4ae2-8f01-f4f8f32bcf49&page=0_0#

[2022-01-10 17:43] MosCD3 opened #169 "Bifold break after updating indy-sdk-react-native"
Refer to that issue
https://github.com/hyperledger/indy-sdk-react-native/issues/29

Maybe we should temporary refer to tag "0.1.17"?

[2022-01-11 12:29] berendsliedrecht commented on #169
I have created a PR that updates the indy.framework with the function.

[2022-01-18 19:36] jleach commented on #148
This feature cannot be "Done" 100% because we don't have a ToS to use. We'll need the Lawers to craft one.

[2022-01-20 08:59] #169 closed, assigned to nobody

[2022-01-26 16:01] ripulbd opened #182 "No message class found for message type "https://didcomm.org/issue-credential/2.0/offer-credential""
Hi,

I am using the Aries React Native Mobile Agent. I am having this peculiar issue which I did not have previously. When I received a credential from an agent, the credential is not being shown to the App. Instead I can see this error message in the console: "[AriesFrameworkError: No message class found for message type "https://didcomm.org/issue-credential/2.0/offer-credential"]"

I can even se

[2022-01-26 18:38] cvarjao opened #185 "Invalid Presentation response for non-revoked credential presentation request"
I am running the [Faber/Alice demo](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AliceGetsAPhone.md), and I've noticed the following error in the Faber (Verifier) side:
[code]

After some digging, and comparing the presentation response from other wallets, I've noticed that BiFold is missing the `timestamp`  under the `identifiers` attributes.

BiFold:
[code]

From another

[2022-01-27 17:38] cvarjao commented on #185
Being implement in https://github.com/hyperledger/aries-framework-javascript/pull/592

[2022-01-28 16:03] ripulbd commented on #182
Hi,

The main issue is was that the agent was sending V2 offer, however, AFJ current supports only V1. The mismatch resulted in that particular error. You can close this issue. Thank you.

[2022-02-01 20:12] nodlesh commented on #148
@jleach The final statement in the first scenario doesn't match the wireframes, should
Then The user transitions to the PIN creation screen
be
Then the user transitions to the secure your wallet screen?

[2022-02-02 13:58] nodlesh commented on #148
Another question on this.  For this scenario:
[code]
If during onboarding they pressed skip, say on the second onboarding page, if they clicked back on the Terms page, would they go back to the second onboarding page or restart the onboarding?

[2022-02-09 23:43] jleach opened #204 "Disable controls rather than changing transparency"
There appears to be a bug in RN where if you `disable` a control, such as `TouchableOpacity`, when it is `enabled` again the `accessibilityLabel` is not shown. As a work around in `Pagination.tsx` I have just changed the colour of a control to transparent to hide it. Periodically monitor as RN is upgraded to see if the issue is resolved then revert to disabling the controls.

[2022-02-14 15:34] jmerino12 opened #211 "No working in Android"
i have an error when i run in android.

Starting a Gradle Daemon (subsequent builds will be faster)

FAILURE: Build failed with an exception.

* Where:
Settings file '/Users/jonathan/Documents/aries-mobile-agent-react-native/android/settings.gradle'

* What went wrong:
Could not compile settings file '/Users/jonathan/Documents/aries-mobile-agent-react-native/android/settings.gradle'.

  General er

[2022-02-16 19:31] knguyenBC commented on #154
Can't update this ticket for some reason but updates to the new Connection list: https://xd.adobe.com/view/be5d6531-658b-4d7c-8ec2-634825d724fe-eb0e/

[2022-02-23 16:55] nodlesh commented on #148
This Story has been tested and the test automated in AMTH.
You can see the behavioural specification here, https://github.com/hyperledger/aries-mobile-test-harness/blob/main/aries-mobile-tests/features/bc_wallet/terms.feature

[2022-02-23 19:47] nodlesh commented on #148
I can't seem to move this to done.

[2022-02-23 20:24] alexgmetcalf commented on #148
Issues:
- Checkbox at the bottom has mixed tenses. I suggest either: "I have read, understood and accepted the terms and conditions." or "I have read, and understand and accept, the terms and conditions."
- Scroll indicator isn't visible on iOS when you scroll down. (Minor issue but would help get sense of scale of content.)
- There are small EULA text updates coming.

[2022-02-23 20:29] alexgmetcalf commented on #147
There are several small issues which I can raise and add as dependencies (and assign to me) once this issue gets moved to the right repo.

[2022-02-23 21:40] nodlesh commented on #148
@alexgmetcalf  Scroll indicator is working for me on iOS. iPhone 6s. iOS 15.3.

Should the other issues be logged as separate and set this to done?

[2022-02-23 21:44] alexgmetcalf commented on #148
Not visible on iPhone 8, iOS 15.2.1. For clarity, I'm talking about the visual scroll bar position indicator that usually appears on the right once you start scrolling.

[2022-02-23 21:53] nodlesh commented on #148
@alexgmetcalf I believe you, honestly. 😉

iPhone 6s with 15.3
![IMG_A4357B48E753-1](https://user-images.githubusercontent.com/44370861/155414779-9dd0b027-a5ee-4c9a-9d00-1e6dd786ac45.jpeg)

iPhone 8 with 15.0.1
<img width="615" alt="Screen Shot 2022-02-23 at 4 50 36 PM" src="https://user-images.githubusercontent.com/44370861/155414863-f779b1e3-83f2-4774-b0ba-352b69840ff4.png">

[2022-02-23 21:57] alexgmetcalf commented on #148
Haha well, weird.

[2022-02-23 22:40] jleach commented on #211
@jmerino12 I think the issue is specific to your environment. Check the [GitHub Actions](https://github.com/hyperledger/aries-mobile-agent-react-native/blob/main/.github/workflows/main.yaml). It does an Android build for every PR or merge to main and it runs ok.

[2022-03-02 18:33] jleach opened #232 "What is the significance of the agent failing to initialize?"
I'd like to better handle the situation if the agent fails to initialize. Perhaps the mediator is down or something else is going on. What is the impact of `initAgent()` failing? Should we retry periodically, will this happen automatically?

[code]

[2022-03-02 18:34] jleach commented on #232
@JamesKEbert @TimoGlastra Hey, your thoughts on this issue?

[2022-03-02 19:51] jmerino12 commented on #211
@jleach  yes, configure correctly and it already worked for me, thanks

[2022-03-02 19:51] #211 closed, assigned to nobody

[2022-03-11 00:47] knguyenBC commented on #147
This is technically done right? Any minor issues or updates to the onboarding is already either a new ticket or new issue.

[2022-03-11 02:51] jleach commented on #147
Should be. Content and graphics are updated. Anything else should be a new issue.

Regards,

Jason Leach

[2022-03-14 20:11] jmerino12 opened #246 "Get the messages of agent"
How can I get the messages sent by an agent, in order to show them in the mobile agent, react-native?
the idea is to make a chat, sending or obtaining credentials.

[2022-03-15 20:09] drewcapener opened #248 "Running on MacOS Apple Silicon"
Hi, I've just been familiarizing myself with some of the repos in the Aries project. I wanted to try and install and run the mobile agent but haven't been able to get it to run (trying for ios) on my apple silicon Mac by following the provided instructions. I am assuming my issues must be coming from the different architecture but it may be something else as well. Has anyone been able to get this

[2022-03-17 23:44] amanji commented on #248
Are you trying to run it in an iOS simulator?

[2022-03-18 21:51] drewcapener commented on #248
Hey @amanji thanks for being willing to help out. I got it working. Still not sure what the problem was though. I ended up undoing and then redoing the entire install and somehow it fixed it.

[2022-03-18 21:51] #248 closed, assigned to nobody

[2022-04-13 19:34] cvarjao opened #281 "Review how and what things get exported"

[2022-04-20 16:57] jleach opened #291 "build: Convert the project to use yarn"
On the last [UG meeting](https://wiki.hyperledger.org/display/ARIES/2022-04-12+Aries+Bifold+Users+Group+Community+Meeting) we discussed converting the project to user Yarn. This was widely supported so this ticket to track moving ahead with the change.

[2022-04-25 08:29] MosCD3 opened #301 "New app architecture !!"
Hi Devs
Its really confusing, having 2 App.tsx files and the new App architecture seems confusing a bit
Is there any document that shows the app new folder architecture and why is there 2 App.tsx files

I can't even seem to get my code to work trying to modify files (Adding security providers ) then running the app and it still doesn't reflect my changes

It would be great to have a documentation

[2022-05-02 18:20] jleach commented on #246
@jmerino12 There is some work done as part of #278 that exposes basic chat capability. I think that'll show you the basics.

[2022-05-02 18:20] #232 closed, assigned to jleach

[2022-05-02 18:20] #114 closed, assigned to jleach

[2022-05-16 19:07] #185 closed, assigned to nobody

[2022-05-24 10:19] realabbas opened #333 "Unable to run the agent on Linux machine"
I'm trying to run the agent on linux machine but I'm unable to do so.

The error occurs while installing dependencies `npm install`

`@commitlint/cli not accessible from aries-bifold`

Error Screenshot

![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/43527087/170008936-f0faeac2-7057-4847-8b08-00f09da2c49a.png)

I've tried setting up the project and it works on the windows and

[2022-05-24 22:11] drewcapener opened #335 "Invalid QR Code. Please try again."
Whenever I try to scan a QR code I am met with a message popping up that says, "Invalid QR code. Please try again." Not sure why this is happening, but I must be missing something simple. I'd be very grateful for any help.

iOS 15.4.1

[2022-05-24 22:29] JamesKEbert commented on #335
I am currently able to reproduce this--I haven't got any helpful logs yet though (likely due to iOS oddness), but I don't think you're crazy :)
@ryanindicio are you able to look into this?

[2022-05-25 14:39] flihp27 commented on #164
Just to share our team is working on this issue.

Here is our proposition that where working on: https://github.com/ICCS-ISAC/vc-wallet-portefeuille/issues/1

[2022-06-03 03:57] github-account-0x00 opened #347 "Unable to run npm install as per the instructions in the README"
Errors as per screenshot, running on intel macos

![Screenshot 2022-06-03 at 11 54 23 AM](https://user-images.githubusercontent.com/63097716/171783025-02650b48-2498-45f8-bb28-228605edd9df.png)

[2022-06-08 17:30] swcurran commented on #347
@amanji could you take a look at the ReadMe to see if there is something missing?  Thanks!

[2022-06-08 17:33] amanji commented on #347
Try to run the install command with the `--force` flag: `npm install --force`. It's typically the only way I can resolve module installation until we clean up dependencies a bit better.

[2022-06-09 03:39] github-account-0x00 commented on #347
I tried using that and encountered the following error:

![Screenshot 2022-06-09 at 11 37 53 AM](https://user-images.githubusercontent.com/63097716/172759208-0ddb0a23-aab8-494f-bccb-669ea647a500.png)

![Screenshot 2022-06-09 at 11 37 33 AM](https://user-images.githubusercontent.com/63097716/172759219-f773e150-6851-41eb-b15a-680851ffdfa0.png)

[2022-06-09 03:47] cvarjao commented on #347
what version of node/npm are you using?
[code]
make sure you are using node 16+, npm 8+

[2022-06-09 04:12] github-account-0x00 commented on #347
Here is the version of nodejs that I am using:
![Screenshot 2022-06-09 at 12 10 28 PM](https://user-images.githubusercontent.com/63097716/172762519-573a8784-2e94-4798-ae7a-79a7552d1fed.png)

[2022-06-09 04:36] cvarjao commented on #347
It seems to be a problem with recent npm, can you downgrade to npm 8.5.5?

[2022-06-15 03:54] rkirandas opened #358 "How to setup mobile agent and mediator"
Can anyone please give guidance on how to setup the mobile wallet and mediator.
I also get an error while cloning Aries js
error: invalid path 'packages/core/src/modules/dids/methods/peer/DidPeer.ts~73d296f6 (fix: always encode keys according to RFCs (#733))

[2022-06-16 02:23] tranducduong1994 opened #360 "Showing All Errors Only Command PhaseScriptExecution failed with a nonzero exit code"
Hello everyone,

I'm encoutering this issue whild running IOS in Xcode

<img width="590" alt="image" src="https://user-images.githubusercontent.com/89118981/173976986-b51466fe-83c6-45a5-8b53-3eb72513b114.png">

my environment:

- Xcode: 13.4.1
- NodeJs: v16.14.2
- npm: 8.5.0
- yarn: 1.22.18
- @aries-framework/core: ^0.2.0-alpha.20
- @aries-framework/react-hooks: ^0.2.0
- @aries-framework/react-nat

[2022-06-20 14:09] drewcapener commented on #335
@JamesKEbert @ryanindicio I just wanted to check in and see if any progress has been made here?  The problem still seems to be occurring in iOS 15.5. Is the whole iOS side of things broken?
*Still occurring barring anything having been done to fix it, in which case I probably just need to pull down the latest.

[2022-06-22 02:42] #360 closed, assigned to nobody

[2022-06-23 15:03] drewcapener opened #364 "Black Screen On Run"
I created the previous issue #335 a couple of weeks ago. I haven't made headway on it myself and haven't seen any notable activity. This week, I pulled down the latest to see if the issue remained and now have a new issue where the app launches to merely a black screen where before it would at least show the app. I am wondering if this is something specifically wrong with my configuration or if it

[2022-06-28 22:17] nayrban commented on #347
the node version `16.14.2` works just fine!

[2022-07-07 08:00] rowanshedden opened #367 "Connect invitation fails"
When I scan a QR Code set up with a connect invitation the connection conversation just dies after a trust ping is sent. An earlier version of the aries-mobile-agent-react-native project did not have this issue. It has only started happening with this latest release.

This is the ACA-py Agent log snippet:
[code]

As you can see the last thing received is that trust ping….

This is the Mediator log

[2022-07-07 10:57] amanji commented on #367
To confirm, this is using the latest build on the `main` branch correct?

[2022-07-08 15:32] ryankoch13 opened #368 ""Biometrics not provided" prompt dismiss"
I have an older Android device that I sometimes use for testing and I noticed that if a device doesn't have any biometric auth set up, the "Biometrics not provided" notification will come up every time on the pin enter screen. Do we want to add maybe a checkbox or something so the user can dismiss this for future logins?

[2022-07-09 01:37] rowanshedden commented on #367
Correct, this is for the latest build on the main branch.

After some further investigation it appears those log snippets are misleading and actually have no relevance to the issue. I have an earlier build of BiFold, where the connection, after the QR scan, is complete and the app returns to the Home page as expected. However, in this latest version the app just keeps spinning, after the QR scan,

[2022-07-12 15:02] #368 closed, assigned to nobody

[2022-07-13 06:49] itsdheerajbudhiraja commented on #367
I am facing same issue in react-native environment (Not reproducible in nodeJS env).

No logs of Message received / processed from mediator. Socket onmessage itself is not triggering itself. While mediator (ACA-py) logs says Message written to socket.

[code]

[2022-07-13 21:14] pabacouros opened #371 "How to update the ''ListCredentials'' component after removing a credential?"
Hello, I am developing the functionality to remove a credential from the wallet ('RemoveFromWallet') and I would like to ask you the following:

How to update the ''ListCredentials'' component after removing a credential?

For example:
[code]
Image reference:
<img width="1141" alt="Screen Shot 2022-07-13 at 16 19 00" src="https://user-images.githubusercontent.com/107563305/178838241-efc1ebda-cee7-

[2022-07-13 22:57] amanji commented on #371
Hi @pabacouros, with the upcoming update to the AFJ react-hooks extension used by the wallet, you shouldn't need to update the list as the `useCredentials` hook will automatically update its internal record list when credentials are added/updated/removed. Previously hooks only responded to record updated changes.

[2022-07-13 23:02] amanji commented on #367
May I suggest updating to the latest version of the wallet that uses AFJ 0.2.0, unless you have already done so? There could be number of causes here but it looks very similar to one we previously observed when using a mediator via websockets. If not we may need to gather some more information to try and replicate or pinpoint the issue.

[2022-07-13 23:03] amanji commented on #364
Was there any resolution to this?

[2022-07-14 05:45] itsdheerajbudhiraja commented on #367
@amanji  I am facing issues with AFJ 0.2.0 only after upgrading my app. I also tries Aries Bifold latest from main branch (yesterday), faced same issue. Mediator messages are highly inconsistent. (Sometime message comes but not processed by Agent.event.observable, while most of times message itself is not read by websocket) - While mediator logs are normal and says - Message written to socket (Sam

[2022-07-14 07:48] DucDA177 opened #372 "Can not present proof with "non-revoke" in proof request"
When I create a proof request from aca-py, the mobile agent receive the request but stuck at "Fetching Credential Revocation Status for Credential Revocation Id '8' with revocation interval with to '1657784360' & from '0'"
Here is the log of mobile agent:
` ----LOG  TRACE: Presentation is requesting proof of non revocation for referent 'Voucher', getting revocation status for credential {
  "reque

[2022-07-14 14:41] pabacouros commented on #371
Thank you! @amanji

[2022-07-14 14:41] #371 closed, assigned to nobody

[2022-07-14 15:53] JamesKEbert opened #373 "Development PNG Images on Android"
While developing, we've run into an issue of PNGs not displaying while running Android in development (in particular in the `./core` package). SVGs appear to still work as expected.

I experimented a lot with the metro bundler and react native config to no avail as of yet. Any insight here @cvarjao?

[2022-07-14 16:41] JamesKEbert commented on #367
I worked some with Rowan on his issue (unsure if it's related to @itsdheerajbudhiraja's problem though). It is related to how not all use cases immediately follow a connection with an issuance or proof request, which means as it is coded today then the user will be stuck on the screen waiting for the connection to complete (even though it has already completed). This can be configured differently

[2022-07-14 18:56] cvarjao commented on #373
@JamesKEbert , got an example on how PNG is being used?

[2022-07-14 19:41] JamesKEbert commented on #373
If on the `./core/App/screens/PinEnter.tsx` screen you change the <Image> source:
[code]
And you can change the png to any png in the `./core/App/assets/` directory you want, it won't show up during development.

(or were you looking for a branch?)

[2022-07-15 18:35] wYaobiz commented on #333
You can try use `sudo` or run under root

[2022-07-18 17:11] JamesKEbert commented on #333
Hi @realabbas, I've also run into this issue--I've only been able to get it to work by running `npm install --legacy-peer-deps` inside of `./core` and then again inside of `./app`, which is not exactly ideal.

cc: @cvarjao

[2022-07-18 17:14] cvarjao commented on #333
What version of npm are you using? There has been some breaking changes to newer npm

[2022-07-18 17:15] JamesKEbert commented on #333
Currently 8.12.1

[2022-07-18 17:21] cvarjao commented on #333
I recommend using node 16.15.0 with npm 8.5.5.  That is what we are using to test in GH Actions, I've had issues with newer npm. I don't know if it is worthwhile fix those npm issues, or just do the work to switch to yarn.

[2022-07-18 17:26] JamesKEbert commented on #333
I think yarn as a base is a good idea--however often many libraries support both, so it may be worth creating an issue/work item to address the npm issues?

[2022-07-19 23:10] jleach commented on #137
As per todays Bifold UG/WG call we're closing stale issues. Please re-open if you feel strongly its still an issue and relevent.

[2022-07-19 23:10] #137 closed, assigned to NeilSMyers

[2022-07-19 23:11] jleach commented on #136
This is currently being implemented.

As per todays Bifold UG/WG call we're closing stale issues. Please re-open if you feel strongly its still an issue and relevent.

[2022-07-19 23:11] #136 closed, assigned to nobody

[2022-07-19 23:11] jleach commented on #135
As per todays Bifold UG/WG call we're closing stale issues. Please re-open if you feel strongly its still an issue and relevent.

[2022-07-19 23:11] #135 closed, assigned to JamesKEbert

[2022-07-19 23:11] jleach commented on #133
As per todays Bifold UG/WG call we're closing stale issues. Please re-open if you feel strongly its still an issue and relevent.

[2022-07-19 23:11] #133 closed, assigned to nobody

[2022-07-19 23:12] jleach commented on #144
Closing. Looks like PR#150 may have addressed this.

[2022-07-19 23:12] #144 closed, assigned to nobody

[2022-07-19 23:13] #146 closed, assigned to nobody

[2022-07-19 23:13] #147 closed, assigned to jleach

[2022-07-19 23:13] #148 closed, assigned to jleach

[2022-07-19 23:13] jleach commented on #36
As per todays Bifold UG/WG call we're closing stale issues. Please re-open if you feel strongly its still an issue and relevant.

[2022-07-19 23:13] #36 closed, assigned to nobody

[2022-07-19 23:15] jleach commented on #46
Being worked on by @ryankoch13.

[2022-07-19 23:16] jleach commented on #47
I think this was added by @ryankoch13. Closing.

[2022-07-19 23:16] #47 closed, assigned to nobody

[2022-07-19 23:17] #246 closed, assigned to nobody

[2022-07-19 23:20] jleach commented on #155
As per todays Bifold WG call we're closing stale our otherwise dormant issues. Please re-open if its still relevant.

[2022-07-19 23:20] #155 closed, assigned to nobody

[2022-07-19 23:20] jleach commented on #53
As per todays Bifold WG call we're closing stale our otherwise dormant issues. Please re-open if its still relevant.

[2022-07-19 23:20] #53 closed, assigned to nobody

[2022-07-19 23:21] jleach commented on #78
As per todays Bifold WG call we're closing stale our otherwise dormant issues. Please re-open if its still relevant.

[2022-07-19 23:21] #78 closed, assigned to nobody

[2022-07-19 23:21] jleach commented on #111
Fixed.

[2022-07-19 23:21] #111 closed, assigned to nobody

[2022-07-19 23:22] jleach commented on #102
As per todays Bifold WG call we're closing stale our otherwise dormant issues. Please re-open if its still relevant.

[2022-07-19 23:22] #102 closed, assigned to nobody

[2022-07-19 23:23] jleach commented on #157
As per todays Bifold WG call we're closing stale our otherwise dormant issues. Please re-open if its still relevant.

[2022-07-19 23:23] #157 closed, assigned to nobody

[2022-07-19 23:24] jleach commented on #333
As per todays Bifold WG call we're closing stale our otherwise dormant issues. Please re-open if its still relevant.

[2022-07-19 23:24] #333 closed, assigned to nobody

[2022-07-19 23:25] jleach commented on #164
Duplicate of #164.

[2022-07-19 23:25] #164 closed, assigned to nobody

[2022-07-19 23:25] #281 closed, assigned to nobody

[2022-07-19 23:34] jleach commented on #122
As per todays Bifold UG/WG call we're closing stale issues. Please re-open if this issue is still relevent.

[2022-07-19 23:34] #122 closed, assigned to nobody

[2022-07-21 18:17] jleach commented on #112
Closing stale issues as per July 19 Bifold UG call. Please re-open if unresolved or if its still relevant.

[2022-07-21 18:17] #112 closed, assigned to nobody

[2022-07-21 18:18] jleach commented on #121
I think this is being dealt with as part of OCA. Quebec has done a PoC already and BC will do it. What can be contributed back to Bifold will be.

Closing stale issues as per July 19 Bifold UG call. Please re-open if unresolved or if its still relevant.

[2022-07-21 18:18] #121 closed, assigned to nobody

[2022-07-21 18:18] jleach commented on #127
Duplicate of #156.

[2022-07-21 18:18] #127 closed, assigned to nobody

[2022-07-21 18:19] jleach commented on #168
Closing stale issues as per July 19 Bifold UG call. Please re-open if unresolved or if its still relevant.

[2022-07-21 18:19] #168 closed, assigned to nobody

[2022-07-21 18:19] jleach commented on #204
Closing stale issues as per July 19 Bifold UG call. Please re-open if unresolved or if its still relevant.

[2022-07-21 18:19] #204 closed, assigned to nobody

[2022-07-21 18:21] jleach commented on #182
Lots of V2 is now supported as we just updated to AFJ 0.2.0. If the problem persists please open the issue again with any additional details.

Closing stale issues as per July 19 Bifold UG call. Please re-open if unresolved or if its still relevant.

[2022-07-21 18:21] #182 closed, assigned to nobody

[2022-07-26 08:05] WhiteSeasons opened #377 "Render error"
Download  the latest code and run, an error occurred

 BUNDLE  ./index.js

 LOG  i18next: languageChanged en
 LOG  i18next: initialized {"appendNamespaceToCIMode": false, "appendNamespaceToMissingKey": false, "contextSeparator": "_", "debug": true, "defaultNS": ["translation"], "fallbackLng": ["en"], "fallbackNS": false, "ignoreJSONStructure": true, "initImmediate": true, "interpolation": {"escape

[2022-07-27 23:15] amanji opened #381 "Need consist use of SafeAreView component"
There are currently 3 available components for `SafeAreaVew`: the standard component with React Native, and custom implementations by `react-native-safe-area-context` and `@react-navigation`. Currently there are a mix of the first two used in Bifold with some differences in layout observed. I suggest we stick to a single component and apply it consistently across the app.

[2022-07-29 21:55] amanji opened #385 "Update FR translation placeholders"

[2022-07-29 22:06] wadeking98 opened #386 "Credential offer screen: Credential title and attributes not showing up"
Issue: After scanning a QR code to receive a credential, the user is presented with the credential details in the credential offer screen. Previously the credential attributes and title would be displayed on this screen but now it just has the default title `Credential` and no version number.

Expected behavior: The credential offer screen should display the correct credential title (in this case

[2022-07-29 22:13] wadeking98 commented on #386
Additional info:
This is the credential object that gets created by the `useCredentialById(credentialId)` function in the `CredentialOffer.tsx` screen.
[code]
The credentials array is left blank which I believe is what causes the issue. I think this might be an issue with `@aries-framework/react-hooks` since the `useCredentialById` function is imported from there

[2022-08-01 10:32] ripulbd opened #387 "Network request failed to Indicio Public Mediator"
Hello Everyone,

I had a functional setup which used Aries Mobile Agent React Native App with the Indico Public Mediator. It was set up as per the instruction with the mediator URL (http://mediator3.test.indiciotech.io:3000?c_i=...). Everything was functional two months ago when I last tested.

Today I came back to my project and it seems to throw these errors:

_Error sending message to http://me

[2022-08-01 10:39] #387 closed, assigned to nobody

[2022-08-04 17:52] jleach opened #391 "Switch out CredentialRecord for CredentialExchangeRecord to cleanup the imports."
Switch out CredentialRecord for CredentialExchangeRecord to cleanup the imports.

[2022-08-06 09:22] manikal opened #397 "npm install error"
👋 everyone,

I've followed Readme install instructions but I stuck on _npm install_ step.

npm - 8.15.0
node - 18.7.0

<img width="1675" alt="Screenshot 2022-08-06 at 11 20 33" src="https://user-images.githubusercontent.com/983154/183242998-770298a5-4b9e-4c09-9b51-a734f624c5d9.png">
<img width="697" alt="Screenshot 2022-08-06 at 11 20 46" src="https://user-images.githubusercontent.com/983154/18324

[2022-08-06 16:38] hyperledger-bot opened #399 "chore: Create a MAINTAINERS.md file"
Example: https://github.com/hyperledger-labs/solang/blob/main/MAINTAINERS.md Example of a pointer: https://github.com/hyperledger-labs/homebrew-solang/blob/main/MAINTAINERS.md

[2022-08-08 21:06] amanji commented on #386
This is more widespread than just the credential offer screens. It will also affect the display of notifications. A secondary call to `getFormatData` is required to retrieve credential info and attributes. The current solution is to patch the metadata in the credential exchange record which can be done directly in the react-hooks.

[2022-08-10 22:33] wadeking98 opened #405 "OOB Presentation stuck at presentation loading screen"
## Steps to reproduce:
- Go to https://bc-wallet-demo-law-dev.apps.silver.devops.gov.bc.ca/
- Choose the `Joyce` character
- Get your law member card
- Provide your credential in the `Login To Court Services` presentation

## Issue:
User gets stuck at the presentation loading screen:
![image.png](https://images.zenhubusercontent.com/5fc52e1a365e55a8d5b3f428/39d8dc27-85c1-4ca6-91bf-39e983f8e11a)

[2022-08-10 22:47] jleach opened #408 "chore!: Rename source directory in bifold to be less confusing"
The main source directory in the bifold wallet is named `App` which is legacy and misleading. It should be renamed to `src` to better match modern create-react-app output.

[2022-08-11 22:55] #405 closed, assigned to nobody

[2022-08-23 13:53] #358 closed, assigned to nobody

[2022-08-26 15:56] #386 closed, assigned to amanji

[2022-08-30 15:49] cvarjao commented on #397
As per issue #347. We have plans to move to Yarn ( #291) and fix that, just haven't got to it yet

[2022-08-30 15:49] #347 closed, assigned to cvarjao

[2022-08-30 15:52] manikal commented on #397
Thanks @cvarjao, it works fine with npm 8.5.5 (node 16.15.0).

[2022-08-30 15:52] #397 closed, assigned to nobody

[2022-09-06 13:11] thiagoromanos opened #431 "Add Brazilian Portuguese support."
As a brazilian user (or a user who speaks brazilian portuguese), it would be a good thing to have the brazilian portuguese as a available language for selection in the settings menu.

[2022-09-06 18:19] cvarjao opened #432 "chore!: Update Android SDK to version 32"
[react-native-keychain](https://github.com/oblador/react-native-keychain) has a a requirement for SDK 32 as minimum

What are the implications? Can we still support older Android devices?

[2022-09-06 18:36] nodlesh commented on #432
Android SDK 32 is Android 12. For the Canadian market, this may only give us 46% of the Android user base.
SDK 30/Android 11 give us 62% of the Canadian Android market.

[2022-09-06 18:43] nodlesh commented on #432
It may be worse than 46% since Android 12 can have either API 31 or 32. I don't know the amount of Android 12 users in Canada that have API 32.

[2022-09-06 19:18] cvarjao opened #433 "chore!: update react native 0.7.0"
From curent version: `0.66.1`

[2022-09-08 12:44] ripulbd opened #434 "Installation error"
Hi,

I am facing this error and I am not sure how to resolve this. My previous installation at a different laptop was done a year ago and which worked fine. Now I am trying to install Aries Mobile Agent React-native in this new laptop and somehow it is not getting installed.

I am receiving this error as can been seen in the attached screenshot when npm install is issued.

React-native works fine

[2022-09-08 17:03] thiagoromanos commented on #434
The github workflow for this project uses nodejs version 16.15.0. Have you tried that version?

[2022-09-08 19:42] ripulbd commented on #434
Thanks a lot, utilising that particular version seems to solve this problem. Probably worth mentioning it in the readme file.

[2022-09-08 19:42] #434 closed, assigned to nobody

[2022-09-12 10:18] realabbas opened #437 "Failed to build definition file while running npm install command"
[code]

Node Version : 16.15.0
Npm Version : 8.5.5
Operating System: Mac
Chip: Intel Core i9

<img width="1792" alt="Screenshot 2022-09-12 at 3 33 40 PM" src="https://user-images.githubusercontent.com/43527087/189630057-5ae81530-5e6c-42f8-8aae-5bea6d72e7be.png">

[2022-09-12 10:49] realabbas commented on #437
But I tested on Apple Mac Air (M1), it runs fine on this machine. So what could be the probable reason ?

[2022-09-13 15:45] JamesKEbert commented on #432
I'll note, as a followup from the user group call, that as part of the React Native 0.69.5 upgrade I'm working on that it will add support for SDK 31 (https://github.com/facebook/react-native/commit/00ac034353cbc867991bf79cb1dd103353f47126). So, not quite API 32, but does get us closer. 🤔

[2022-09-13 15:50] JamesKEbert commented on #437
I've often run into issues when installing in the root directory, so I often will do `npm install` in the `./core` directory followed by `npm install` in the `./app` directory. Could be worth a shot?

[2022-09-13 15:51] realabbas commented on #437
Oh okay, I'll try this and post the outcome here

[2022-09-13 16:01] realabbas commented on #437
Yeah this approach works.  Thanks @JamesKEbert for the help!

Installing separately

[code]

[2022-09-13 16:01] #437 closed, assigned to nobody

[2022-09-13 17:59] JamesKEbert commented on #432
Fortunately it appears react-native-keychain's minSdkVersion is set to 21 in the default config (https://github.com/oblador/react-native-keychain/blob/master/android/build.gradle#L24)

[2022-09-14 14:05] thiagoromanos opened #442 "Error using biometrics if no fingerprint is configured"
When using the app for the first time on a device which no fingerprint were configured, the "Create PIN" button does nothing. If I configure at least one fingerprint, the button works fine.
There was no log on Metro console regarding this behavior, but I noticed running `adb logcat` that there was errors in android code. Here's what I got from logcat:

[code]
I got this bug in my android device an

[2022-09-14 15:26] JamesKEbert commented on #442
I can confirm I've observed this as well. IIRC, @jleach is working on a fix for this though?

[2022-09-14 15:49] jleach commented on #442
Will look into it. It's an odd bug because the Create PIN screen has no biometrics code in it AFAIK. The following screen does as well as the Enter PIN screen. What version of Android and what device (so we know what flavour of Android).

[2022-09-14 16:08] thiagoromanos commented on #442
Both my phone and the emulator are running Android 9 (api level 28)

[2022-09-14 16:12] thiagoromanos commented on #442
That's another thing that I found a little weird... it asks me to use my fingerprint **before** I check the option to use biometrics as an authentication method. I thought that asking me after I check makes more sense.

[2022-09-14 18:20] jleach commented on #442
@thiagoromanos Thanks. Android is a little tougher to config. We can use AES or RSA storage, one appears to require biometrics while the other it's optional. We'll figure it out. Thanks for the report.

[2022-09-16 17:50] #442 closed, assigned to nobody

[2022-09-18 11:29] oznfc opened #445 "run local network"
ı'm trying to run with local von network . So ı added my genesis file to config(updated indico testnet file. ı upfated to genesis json to my local genesis json)  and ı updated ip address  from genesis file.  ı updated  localhost to 192.168...   when ı tried to add credential to my wallet ,  ı accept but ı'm getting error. it's my error:

[code]

 it's my genesis json.  .
[code]

[2022-09-20 18:41] #431 closed, assigned to nobody

[2022-09-26 02:11] dinbtechit commented on #445
I ran into a similar error.  I don't know the actual root cause of the issue but think the ledger is corrupted. Try starting over. remove all the volumes and bring up the von network again (assuming you are running everything in a docker container).

Also instead of updating the genensis.json try pointing to the genesis json url directly in the `.env` file.

.env
[code]

Also, you might want to ad

[2022-09-30 23:13] amanji opened #460 "Back button to splash screen should be removed"
Introduced with initialization refactor. A user can go back to the Splash screen with no way to exit without closing app.

[2022-10-02 06:57] atb-sweta opened #461 "Getting Error for PushNotificationsApnsModule"
Below is the steps i did :

1) Added NPM ->

`npm info "@aries-framework/push-notifications" peerDependencies
`
2) Added below code ->
[code]
3)I passed proper device token and Connection-ID.  Project get compiled and run properly.

4) But not receiving any push notifications.
Does it need any change from the ACAPY cloud agent side to make sure push notification is send to aries ?
Note: I do recei

[2022-10-02 12:50] oznfc opened #462 "Invalid attempt to iterate non-iterable instance."
hi ı 'm  trying connect nats server in home.tsx  ,  so ı added conection code. Thats running at nodejs but  doesnt runing in the app .  it's my code.
[code]
  normaly it's runing at nodejs.And it's my error
[code]

[2022-10-05 13:00] alberto-instnt commented on #367
Im getting the same issue and stays on the loading screen and after 10 seconds I get a message about "taking longer than usual". It seems like it's waiting for changes on the `notificationRecord` in the` Connection.tsx`. There is no notification record coming in which means it's not transitioning to the next screen(credential). Ive tried navigating to the home screen if the record doesn't come in

[2022-10-06 06:57] JamesKEbert opened #469 "iOS sleep/lock crash (ZMQ)"
Hi Folks! As part of the efforts to update Aries Bifold to 0.70.1 of React Native, we've encountered a serious bug resulting from ZMQ in the Indy SDK on iOS with React Native v0.68.x or newer.

## The Issue

The behavior observed is that when a user on iOS has connected to or is in the process of opening the ledger pools (aka the connection to the Indy ledger(s)) and they either let their device s

[2022-10-06 08:05] duongtranfu commented on #372
Same issue here! could you please help @amanji

[2022-10-06 15:15] KimEbert42 commented on #469
indy-vdr proxy could also run on the indy nodes as well, like the didcomm method.

[2022-10-06 15:20] KimEbert42 commented on #469
If anyone is interested, it is likely that the error is occurring [here](https://github.com/zeromq/libzmq/blob/master/src/tcp_connecter.cpp#L292) in zmq.

The errno_assert will cause the program to crash. Changing the behavior of ZMQ to be able to return without an active socket would be helpful.

[2022-10-06 17:48] KimEbert42 commented on #469
Maybe related to

https://github.com/zeromq/libzmq/issues/3046
https://github.com/zeromq/libzmq/pull/3047

[2022-10-06 19:08] jleach commented on #469
I wonder if it can be worked around by allowing the app to temporarily do background networking? In "Signing & Capabilities" add Background Modes and check "Background Fetch". It might give it 30 seconds to finish started tasks. I'm also curious if we can deal with it at the Indy SDK level. Maybe make the wrapper more exception friendly (or background friendly).

Was looking through the wrapper an

[2022-10-07 01:09] andrewwhitehead commented on #469
Indy-VDR probably currently has the same issue, as it still depends on libzmq. There's also a native Rust zmq implementation (https://github.com/zeromq/zmq.rs) to which I've added CurveZMQ support, but that isn't merged yet. With some work it could probably be substituted.

[2022-10-13 17:10] cvarjao commented on #46
@ryankoch13, any update on this?

[2022-10-13 20:34] nodlesh commented on #460
Video attached. It isn't only the `<Splash` link that can bring one back to the initialization screen, it is also (at least on iOS) you can swipe right to go back to the initialization screen.

https://user-images.githubusercontent.com/44370861/195704968-f9d4cdd2-e37d-404c-b91a-f7f2756051cd.mov

[2022-10-18 15:54] cvarjao commented on #372
@amanji, I vaguely remember we had issues with the from `0` revocation range. Was that fixed in AFJ?

[2022-10-18 16:39] soubhratra-instnt commented on #367
This seems like a connectivity issue. There is no notificationRecord or invitation after scanning QR code. The app stalls on the "This is taking longer than usual" message. In order to see the actual invitation you need to restart the app and only then will you see the actual notification.

Here are the steps to reproduce this issue:
-Install and open App for the first time.
-Go through onboarding

[2022-10-18 18:26] JamesKEbert commented on #367
In your use case @soubhratra-instnt, are you doing a connection-less issuance, or connection followed by issuance? Also, if you navigate back to the home screen after the "taking too long" message appears are you able to see the connection (by default connections are listed in the settings in Bifold)?
If your issuer is able, are you able to send or receive basic messages successfully (troubleshoot

[2022-10-18 19:04] soubhratra-instnt commented on #367
Hi @JamesKEbert We are using connection-less issuance. When we go back to the home screen, and wait, we still don't see the VC but the connections shows up in the contact listing screen always irrespective of the failure to store the VC. We are not sure how to send / receive basic messages. We tried to use Aries toolbox but see a long list of device with bifold appearing many time as in the attach

[2022-10-18 19:37] JamesKEbert commented on #367
While a bit of a pain--the best way with the toolbox to ensure that you're using the right agent for issuance or basic messaging is to delete all the connections to "Aries Bifold" so that you only have one to choose from.

[2022-10-18 22:20] wadeking98 commented on #408
Resolved by: https://github.com/hyperledger/aries-mobile-agent-react-native/pull/489

[2022-10-18 22:59] shiva-instnt commented on #367
@JamesKEbert I am shiva working for instnt. When we initially send the message it gets delivered to the toolbox. But we don't see an acknowledgement on the "Aries Bifold". When we send the message back(the first message) from toolbox it does not appear on the bifold. But hereafter we see successful communication.

[2022-10-19 12:47] soubhratra-instnt commented on #367
@JamesKEbert You can find the detail logs here https://github.com/hyperledger/aries-framework-javascript/issues/1048 where @TimoGlastra added some insights

[2022-10-19 19:50] cvarjao opened #491 "chore: update @aries-framework/core to 0.2.2"

[2022-10-19 19:54] cvarjao commented on #491
Needs to be synchronized with hyperledger/aries-mobile-agent-react-native#491

[2022-10-19 21:19] #491 closed, assigned to nobody

[2022-10-21 15:14] ryankoch13 commented on #46
@cvarjao apologies for the delayed response here - I just pulled the latest from hyperledger main and I'm putting together a PR to contribute this, I'll have a link to that by EOD.

[2022-10-22 00:57] ryankoch13 commented on #46
https://github.com/hyperledger/aries-mobile-agent-react-native/pull/504

[2022-10-28 00:03] cvarjao opened #511 "feat: support for SVG in images provided via OCA bundle"

[2022-10-28 06:51] amrutpragtech opened #512 "How we can get backup of user wallet?"
I reinstall the application, but my wallet is unable to recover, Is there any way to we can get backup or recover user wallet

[2022-11-08 10:01] ErikaDeveloper opened #518 "dependency's AAR metadata (META-INF/com/android/build/gradle/aar-metadata.properties) is greater than this module's compileSdkVersion (android-30). Dependency: androidx.appcompat:appcompat:1.4.1."
Please help I can't run app

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:checkDebugAarMetadata'.

     dependency's AAR metadata (META-INF/com/android/build/gradle/aar-metadata.properties)
     is greater than this module's compileSdkVersion (android-30).
     Dependency: androidx.appcompat:appcompat:1.4.1.
     AAR metadata file: /Users/padepokan79

[2022-11-08 10:08] ErikaDeveloper opened #519 "No credentials received."
I ran the project and scanned the code, but I didn't get any credentials. why? log is as follows

DEBUG  DEBUG: Searching for an existing connection for out-of-band invitation services. {
  "services": [
    {
      "id": "#inline",
      "serviceEndpoint": "http://20.78.81.28:8000",
      "type": "did-communication",
      "recipientKeys": [
        "did:key:z6MknoExN2U3D44dbaCV5ceMkuMVvGDGcZ77Xs

[2022-11-08 10:08] nbAmit commented on #518
Please check this PR - https://github.com/hyperledger/aries-mobile-agent-react-native/pull/517

[2022-11-08 13:18] foxbike opened #520 "When an offer is declined, the issuer agent is not notified (of the answer)"
Upon receiving a credential offer, the user can accept or decline it. If he accepts it, the issuing agent is notified and he can correctly update the credential status. On the other hand, if the user refuses the credential offer, no notification (answer) is sent to the issuer agent.

[2022-11-08 17:26] #518 closed, assigned to nobody

[2022-11-11 14:41] mustafaonure opened #526 "Navigation problem , Timeout has occured"
Hi, I am facing problem while I'm clicking unlock button. When I clicked this button I see this error. How can I solve this?
![error](https://user-images.githubusercontent.com/67523483/201362861-5e997253-b89c-414b-a11f-7a9c939d6cab.jpg)
![error1](https://user-images.githubusercontent.com/67523483/201362865-6b98340e-5eb3-4f2a-98b3-62abe20e3b81.jpg)

[2022-11-14 09:47] mustafaonure commented on #526
When you use unvalid mediator link you will see this issue. So you need to write valid mediator link. !!!

[2022-11-14 09:47] #526 closed, assigned to nobody

[2022-11-22 00:20] cvarjao commented on #519
@ErikaDeveloper, make sure you are using an issuer agent with a service endpoint that is available from the internet. I recommend following the [Alice gets a phone](https://github.com/hyperledger/aries-cloudagent-python/blob/main/demo/AliceGetsAPhone.md) demo. Hint, you can run without revocation to make it easier.

[2022-11-22 00:22] cvarjao commented on #512
There is currently no backup/restore feature available

[2022-11-22 00:22] #512 closed, assigned to nobody

[2022-11-22 00:27] cvarjao opened #532 "Backup and Restore"
As a user
I want to be able to backup (Export) my wallet credentials and restore (import) into another wallet
So that I don't lose my issued credentials

Things to consider:
- what is exportable? How to flag things as not exportable? If not exportable how can we make the re-issuance process easy?
- where is the export file saved? (Local, cloud storage, ...)
- protect the export file? (Encrypted?)

[2022-11-23 13:17] Durai46 opened #534 "Message in undeliverable to connection error"
We are seeing a mediator connection error in the APP screen. We have configured our own Mediator URL & Genesis URL in .env file and both are running on local machine. Could you please help?

**Failure message : Message is undeliverable to connection d723ed00-9616-4869-8Od8-57527ee1b129 (Mediator)**

#### .env file:

MEDIATOR_URL=[http://191.161.1.4:3006?c_i=eyJAdHlwZSI6ICJodHRwczovL2RpZGNvbW0ub3Jn

[2022-11-28 17:00] wadeking98 opened #537 "Error accepting credentials from BC Wallet Showcase"
When going through the BC Wallet showcase and accepting a credential, the following error appears:
![image.png](https://images.zenhubusercontent.com/5fc52e1a365e55a8d5b3f428/44c236a8-8f10-4dc3-bb09-e6e10de10618)
It appears that AFJ has been updated and now requires the `~service` decorator on credential offers. The BC Wallet showcase needs to be updated to include the decorator